/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. body
2. header start 
3. footer start
4. slider_main_wrapper start
5. services_section start
6. portfolio_wrapper start
7. features_list_wrapper start
8. counter_wrapper start
9. team_members_wrapper start
10. testimonial_section start
11. aboutus_section start
12. pricing_section start
13. client_section start
14. blog_section start
15. newsletter_section start

*/


/* custom css */

html, body{
	font-family: 'Roboto';
}
h1, h2, h3, h4, h5, h6{
    font-size: 20px;
    color: #111111;
	margin:0;
	padding:0;
	font-family: 'Roboto';
	font-weight: 400;
}
p{
    color: #999999;
    font-size: 14px;
	line-height: 24px;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: unset;
}
a:hover{
	color:#4285f4;
	text-decoration:none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a{
	color: #111111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
button {
    outline: none!important;
    text-decoration: none!important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4385f5;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/* section_heading */

.section_heading{
	margin-bottom:50px;
	text-align:center;
}
.section_heading h2{
	font-size: 40px;
	margin-bottom:10px;
}
.section_heading p{
	font-size:16px;
}

/* custom css end */


/* --------------------------------------
LIST STYLE
------------------------------------------*/

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


/*   header start */

.header{
	position: relative;
    z-index: 1;
}
.top-bar {
    background-color: #4285f4;
	color:#fff;
}
.top-bar a{
	color:#fff;
	line-height: 0;
}
.contact_info_wrapper{
	float:left;
	position:relative;
}
.contact_info_wrapper:before{
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.18);
    height:50px;
    position: absolute;
    top: 0;
    left:0;
}
.contact_number_wrapper{
	position:relative;
}
.contact_number_wrapper:before{
	 content: '';
    border: 1px solid  rgba(255, 255, 255, 0.18);
    height:50px;
    position: absolute;
    top: 0;
    left:-10px;
}
.signin_wrapper{
	position:relative;
	background:#5c98fb;
}
.contact_info_wrapper ul li{
	float:left;
	margin-right:20px;
}
.contact_info_wrapper ul li:last-child{
	margin-right:0px;
}
.contact_info_wrapper ul li,.signin_and_social_icon_wrapper ul li{
	padding:15px 20px;
}
.contact_info_wrapper ul li a i{
	margin-right:10px;
}
.signin_and_social_icon_wrapper{
	float:right;
	position:relative;
}
.signin_and_social_icon_wrapper ul li{
	float:left;
}
.social_icon_wrapper ul li{
	float:left;
	margin-right:15px;
	padding:0;
}
.social_icon_wrapper ul li a{
    font-size: 16px;
	color:#add4f8;
}
.social_icon_wrapper ul li a:hover{
	color:#fff;
}
.signin_wrapper{
	float:left;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper a i{
	margin-right:10px;
}
.signin_wrapper:hover{
	background:#2c6ad4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper .dropdown-menu .signin_dropdown{
	float:left;
    width: 350px;
	padding:30px 50px;
}
.signin_wrapper .signin_dropdown a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
	padding: 6px 25px;
    line-height: 36px;
	margin-bottom:20px;
	text-align:left;
	border-radius:5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
}
.signin_wrapper .signin_dropdown a.btn:hover {
   background-color: #2c6ad4;
   border-color: #2c6ad4;
}
.signin_wrapper .signin_dropdown a.span{
	float:left;
}
.signin_wrapper .dropdown-menu .signin_dropdown a i{
	float:right;
	margin:0;
	line-height: 35px;
}
.signin_wrapper .signin_dropdown a.google-plus{
    background: #db4c3e;
    border: 1px solid #db4c3e;
}
.signin_wrapper .signin_dropdown a.google-plus:hover{
    background: #bd4033;
    border-color:#bd4033;
}
.signin_wrapper .signin_dropdown h2 {
    font-size: 18px;
	font-weight:500;
	margin-bottom:20px;
	color:#111;
    line-height: 20px;
    text-transform: uppercase;
	text-align:center;
    position: relative;
}
.signin_wrapper .signin_dropdown h2::before, .signin_dropdown h2::after {
    content: "";
    background: #e4e4e4;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
}
.signin_wrapper .signin_dropdown h2::before {
    right: 60%;
}
.signin_wrapper .signin_dropdown h2::after {
    left: 60%;
}
.signin_wrapper .signin_dropdown .form-control {
	height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
	-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   background-color: #fafafa;
}
.signin_wrapper .signin_dropdown textarea.form-control{
	height:auto;
	resize:none;
}
.signin_wrapper .signin_dropdown input::placeholder, .signin_dropdown textarea::placeholder {
  color: #999;
}
.signin_wrapper .signin_dropdown .form-control:focus {
	color: #999;
	background-color: fafafa;
	border: 1px solid #4285f4 !important;	
}
.formsix-pos,.formsix-e{
	position: relative;
}
.form-group.i-password:after, .form-group.i-email:after{
    position: absolute;
     top: 13px;
    font-size: 18px;
    font-family: "FontAwesome";
    color: #c0c0c0;
}
.signin_dropdown .form-group.i-email:after{
	content: "\f0e0";
	right: 25px;
}
.signin_dropdown .form-group.i-password:after{
	content: "\f09c";
	right: 25px;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .control {
    position: relative;
	padding-left:20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
	margin:0;
}
.remember_box .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.remember_box .control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
}
.remember_box .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.remember_box .control input:checked ~ .control__indicator:after {
  display: block;
}
.remember_box .control--checkbox .control__indicator:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}
.login_wrapper{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.signin_wrapper .login_wrapper a.login_btn {
   text-align:center;
   text-transform:uppercase;
   margin-bottom:15px;
}
.login_wrapper a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
}
.sign_up_message p{
	font-size:16px;
}
.sign_up_message a{
	color:#4385f5;
}
.signin_wrapper .dropdown-menu li .sign_up_message a{
	display: inline-block;
    padding: 0;
    color: #4385f5;
	font-size:16px;
}
.signin_wrapper .dropdown-menu li .sign_up_message a:hover{
	background:#fff;
}

.main_menu_wrapper{
	float:left;
	width:100%;
	background:#fff;
}


/*Navigation*/

@media (min-width: 768px) {

  .navbar-default {
    border: 0;
    border-radius: 0;
  }
  .navbar-right .dropdown-menu {
    right: auto;
  }  
  .mega-menu .nav .cart_dropdown_wrapper, 
  .mega-menu .nav .shop_dropdown_wrapper,
  .mega-menu .nav .blog_dropdown_wrapper
  {
	  position: relative;
  }
  .navbar-right .cart_dropdown_wrapper .dropdown-menu{
    right: 0;
  } 
  .navbar-right .shop_dropdown_wrapper .dropdown-menu {
	right: 0;
  }
  .navbar-right .blog_dropdown_wrapper .dropdown-menu {
	    right: 0;
		left: auto;
  }
  .signin_wrapper .dropdown-menu {
	right: 0;
	left:auto;
	border:0;
	box-shadow: 0 6px 12px rgba(0,0,0,.100);
  }
  .navbar-brand {
    padding: 30px 15px;
  }
  
}
.navbar-default {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-nav>li>a {
  padding: 40px 16px;
  color: #444;
  font-size:14px;
  font-weight:600;
  line-height: 20px;
  text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #4385f5;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #4385f5;
  background-color: transparent;
}



/*Dropdown Menu*/

.dropdown-menu {
  display: inherit;
  min-width: 450px;
  padding: 3px 0;
  border:0;
  background-color: #fff;
  border-top:4px solid #4385f5;
  border-radius:0;
  -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
   box-shadow: 0 6px 12px rgba(0,0,0,.100);
}
.dropdown-header {
  font-size: 11px;
  line-height: 30px;
  font-weight: 600;
  color: #313131;
  text-transform: uppercase;
}
.dropdown-menu li a {
  display: block;
  padding:5px 20px;
  font-size:14px;
  font-weight:400;
  line-height: 30px;
  color: #999999;
}
.dropdown-menu li a:hover, 
.dropdown-menu>li>a:focus {
  color: #4385f5;
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition      : all 0.3s ease 0s;
  -moz-transition      : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition      : all 0.3s ease 0s;
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #4385f5;
  background-color: transparent;
}
.dropdown .dropdown-menu li .dropdown-menu-right{
	display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top:3px solid #4385f5;
	border-radius:0;
	-o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
	box-shadow: 0 6px 12px rgba(0,0,0,.100);
	top:0;
	left:100%;
	right:auto;
	min-width:210px;
}
.dropdown .dropdown-menu li .dropdown-menu-left{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top: 3px solid #4385f5;
    border-radius: 0;
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    box-shadow: 0 6px 12px rgba(0,0,0,.100);
    top: 0;
    left: auto;
    right: 100%;
    min-width: 250px;
}
.dropdown .dropdown-menu li .dropdown-menu-right li a,
.dropdown .dropdown-menu li .dropdown-menu-left li a{
	padding:5px 20px;
	font-size:14px;
	font-weight:400;
}
.dropdown .dropdown-menu li:hover > .dropdown-menu-right,
.dropdown .dropdown-menu li:hover > .dropdown-menu-left
{
	display:block;
}
.dropdown .dropdown-menu li {
    position: relative;
}
.dropdown .dropdown-menu li a i {
    margin-right:20px;
}
.dropdown .dropdown-menu li a span i {
    position: absolute;
    right: 10px;
	top:14px;
}
.dropdown-menu li a .new{
	padding:3px;
    text-align: center;
    background: rgba(227, 69, 69, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
	margin-left:10px;
}

/*mega-menu*/

.mega-menu .nav,
.mega-menu .collapse,
.mega-menu .dropup,
.mega-menu .dropdown {
  position: static;
}
.mega-menu .container {
  position: relative;
}
.mega-menu .dropdown-menu {
  left: auto;
}
.mega-menu .m-menu-content {}
.mega-menu .dropdown.m-menu-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}
.m-menu-content ul {
  border-right: 1px solid #f5f5f5;
  padding: 20px;
}
.m-menu-content ul:last-of-type {
  border-right: 0;
}


/*navbar-toggle*/

.navbar-toggle {
  margin-top:28px;
  border-radius: 5px;
  position:absolute;
  right:0;
  border-color:#ddd;
}
.navbar-toggle .icon-bar{
	background-color: #888;
}
.navbar-toggle:focus, 
.navbar-toggle:hover {
    background-color: #4385f5;
    border-color: transparent;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:active .icon-bar,
.navbar-toggle:focus .icon-bar  {
  background-color: #fff;
}
.lv_search_bar{
    float: right;
    width: auto;
    text-align: center;
    padding: 38px 15px;
    color: #444;
    font-size: 16px;
    cursor: pointer;
}
.lv_search_box{
    position: absolute;
	width: 270px;
    top: 100%;
    padding: 20px;
	font-size: 16px;
    display: inline-block;
	border-top: 4px solid #4385f5;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: none;
    z-index: 1000;
	right:0;
}
.lv_search_box input{
    float: left;
	color:#111111;
    width: calc(100% - 45px);
    padding: 0px 10px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-right: 0px;
}
.lv_search_box button{
    width: 45px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-left: none;
    background-color: #fff;
	color: #4385f5;
    text-align: center;
    padding: 0px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.lv_search_box button:hover{
	color:#ffffff;
	background:#4285f4;
	border-color:#4285f4;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.sidebar_search {
    border: 1px solid #f2f2f2;
}
.sidebar_search input{
	float: left;
    width: calc(100% - 45px);
    height: 50px;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 0;
	outline: none;
}
.sidebar_search button {
    width: 45px;
    height: 50px;
    border: 1px solid transparent;
    background-color: transparent;
	color: #888;
	font-size: 15px;
    position: relative;
    right: 3px;
    text-align: center;
    padding: 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*cart-dropdown*/

.cart-dropdown{
  width: 350px;
}
.cart-dropdown .media {
  margin-top: 0;
  position: relative;
}
.cart-dropdown .media-list li {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 40px;
}
.cart-dropdown .media>.media-left{
    padding-right: 30px;
}
.cart-dropdown .media-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #212121;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.cart-dropdown .quantity, 
.cart-dropdown .price  {
  font-size: 16px;
}
.cart-dropdown .quantity{
	float: left;
    width: 20px;
    height: 20px;
    background: #f7f7f7;
    color: #999;
    line-height: 20px;
    text-align: center;
}
.cart-dropdown .price {
  color: #4385f5;
  margin-left:20px;
  font-weight:600;
}
.cart-dropdown .close i {
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 14px;
  border: 1px solid #A59F9F;
  border-radius: 50%;
  color: #B5B0B0;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 30px;
}
.cart-dropdown .total {
  padding: 20px 40px;
  text-transform: capitalize;
}
.cart-dropdown .total a.btn{
  position: relative;
  top: -25px;
  color: #fff;
  width:160px;
  height:50px;
  line-height:38px;
  text-align:center;
  background: #4385f5;
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
  border:1px solid #4385f5;
}
.cart-dropdown .total a.btn:hover{
  background-color: #2c6ad4;
  border-color: #2c6ad4;
}
.cart-dropdown .total .total_price{
  margin-top:0;
  color: #4385f5;
  font-weight: 600;
}
.cart-dropdown .total .total_item{
	font-size:12px;
	color: #999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-badge {
    font-size: 10px;
    background: #eb6d6d;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    position: absolute;
	right: 5px;
    top: 34px;
}

/*cart Dropdown Menu end */

.menu_fixed{
	position:fixed;
	background: #fff;
	-webkit-box-shadow: 0px 0px 25px -10px;
    box-shadow: 0px 0px 25px -10px;
	top:0;
	left: 0;
    right: 0;
    z-index: 1000;
}

/* mobail_menu_main */

.mobail_menu_main{
	float:left;
	width:100%;
	background:#fff;
}
#sidebar {
  position: fixed;
  display: block;
  height: 100vh;
  top: 0px;
  left: -500px;
  background-color: #ffffff;
  overflow: scroll;
  z-index:1000;
}
#links {
  position: relative;
  float: left;
}
#link_list {
  list-style-type: none;
  width: 100%;
  padding: 0px 50px 0px 0px;
}
#link_list li {
  display: block;
  width: 100%;
}
#link_list li:hover {
  background-color: #4285f4;
}
#toggle_close{
	position: absolute;
    z-index: 100;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  font-weight:500;
  border:1px solid #f2f2f2;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#cssmenu > ul > li:first-child > a{
	border-top:1px solid #f2f2f2;
}
#cssmenu > ul > li > a:hover{
	background:#4285f4;
	border-bottom:1px solid #f2f2f2;
	color:#ffffff;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:hover:after, #cssmenu ul > li.has-sub > a:hover:before{
	background:#000;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
	background:#000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 32px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  background: #f9f9f9;
  color: #000;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background:#888;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background:#888;
}
#sidebar .sidebar_logo{
	padding: 15px 0px;
	padding-left: 20px;
	display: inline-block;
}
#cssmenu ul .sidebar_login .btn {
	color: #fff;
	width: 235px;
	height: 50px;
	position: relative;
	top: 15px;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 25px;
	margin: 0 0 0 10px;
	line-height: 20px;
	border-radius: 5px;
	background: #4385f5;
	border: 1px solid #4385f5;
	font-size: 14px;
}
#cssmenu ul .sidebar_login .btn:hover {
	background-color: #2c6ad4;
	border-color: #2c6ad4;
}

/*   header end */


/* footer start */

.footer{
	float:left;
	width:100%;
	padding-bottom:100px;
	padding-top:100px;
	background: #212121;
}
.footer_wrapper_first, .footer_wrapper_second{
	float:left;
	width:100%;
}
.wrapper_first_icon{
	padding-top:8px;
}
.wrapper_first_image, .wrapper_first_icon{
	float:left;
	width:100%;
}
.footer_wrapper_first{
	border-bottom:1px solid rgba(232, 232, 232, 0.33);
	padding-bottom:75px;
}
.wrapper_first_icon i{
	color:#4285f4;
	margin-right:20px;
	font-size:18px;
}
 .wrapper_first_icon span{
	color:#fff;
	font-size:18px;
	font-weight:500;
}
 .wrapper_first_icon a{
	color:#fff;
	font-size:10px;
	background:#ef5e5e;
	padding:2px 8px;
	border-radius:3px;
	text-transform:uppercase;
	margin-left:7px;    
	position: relative;
    top: -2px;
}
.footer_wrapper_second{
	padding-top:60px;
}
.footer_wrapper_second h4{
	font-size:18px;
	color:#fff;
	font-weight:500;
	padding-bottom:50px;
}
.footer_wrapper_second h4:after{
	content:'';
	border:2px solid #4285f4;
	display:block;
	width:30px;
	position:absolute;
	margin-top:18px;
}
.wrapper_second_about, .wrapper_second_useful, .wrapper_second_blog,
.wrapper_second_contact{
	float:left;
	width:100%;
}
.abotus_content,.aboutus_link{
	float:left;
	width:100%;
}
.abotus_content{
	padding-bottom:20px;
}
.abotus_content p{
	font-size:16px;
}
.aboutus_link {
	padding-bottom:30px;
}
.aboutus_link a{
	color:#4285f4;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
.aboutus_link i{
	color:#4285f4;
	margin-left:10px;
}
.aboutus_social_icons{
	margin:0;
	padding:0;
	list-style:none;
}
.aboutus_social_icons li{
	float:left;
	margin-left:10px;
}
.aboutus_social_icons li:first-child{
	margin-left:0px;
}
.aboutus_social_icons li a{
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#d0d0d0;
	border:1px solid #e8e8e8;
	border-radius:50%;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.aboutus_social_icons li a:hover{
	background:#4285f4;
	border:1px solid #4285f4;
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.wrapper_second_useful ul{
	margin:0;
	padding:0;
	list-style:none;
}
.wrapper_second_useful ul li{
	margin-bottom:20px;
}
.wrapper_second_useful ul li i{
	color:#4285f4;
	margin-right:20px;
}
.wrapper_second_useful ul li a{
	color:#999;
	font-size:16px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.wrapper_second_useful ul li a:hover{
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.blog_wrapper1, .blog_wrapper2{
	float:left;
	width:100%;
}
.blog_wrapper1{
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid rgba(232, 232, 232, 0.33);
}
.blog_date i{
	color:#4285f4;
	margin-right:10px;
}
.blog_date{
	padding-top:15px;
	font-size:14px;
	color:#999;
}
.blog_image{
	float:left;
	width:100px;
}
.blog_text{
	font-size:14px;
	font-weight:500;
	float:left;
	width:calc(100% - 100px);
	padding-left:10px;
}
.blog_text h5{
	font-size: 14px;
    font-weight: 500;
    line-height: 20px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.blog_text h5 a{
	color:#fff;
}
.blog_text h5 a:hover{
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.wrapper_second_contact ul{
	margin:0;
	padding:0;
	list-style:none;
}
.wrapper_second_contact ul li{
	float:left;
	width:100%;
	padding-bottom:20px;
}
.wrapper_second_contact ul li a{
	color:#4285f4;
	font-size:16px;
	padding-left:20px;
}
.wrapper_second_contact ul li i{
    float: left;
	color: #4285f4;
    line-height: 20px;
}
.wrapper_second_contact ul li p{
    float: left;
    padding-left: 20px;
	font-size:16px;
}
.copyright_wrapper{
	float:left;
	width:100%;
	background: #1a1a1a;
	text-align:center;	
}
.copyright_content{
	font-family: 'roboto';
	text-transform:capitalize;
	float:left;
	width:100%;
	display:inline-block;
	padding-top:30px;
	padding-bottom:30px;
}
.copyright_content a{
	color: #4385f5;
}	
/* footer end */

/* slider_main_wrapper start */

.slider_main_wrapper{
	float:left;
	width:100%;
	position: relative;
    margin-top: -150px;
}
.tp-leftarrow{
	width: 90px !important;
    height: 90px !important;
    padding-left: 18px;
	background:#4285f4 !important;
    border: 1px solid #4285f4;
    padding-top: 20px;
	border-left:0;
}
.tp-rightarrow{
	width: 90px !important;
    height: 90px !important;
    padding-left: 18px;
	background:#4285f4 !important;
    border: 1px solid #4285f4;
    padding-top: 20px;
	border-right:0;
}
.tp-leftarrow:hover, .tp-rightarrow:hover  {
	background:transparent !important;
}
.tp-caption.tp-hidden-caption, .tp-forcenotvisible, .tp-hide-revslider, .tp-parallax-wrap.tp-hidden-caption{
	display:inline-block !important;
	visibility:visible !important;
}
.tparrows.tp-leftarrow:before {
    content: '\f104';
}
.tparrows.tp-rightarrow:before{
	content: '\f105';
}
.tparrows:before {
	font-family: FontAwesome;
}
.tparrows:before{
	font-size:28px;
}
#rev_slider_1052_1_wrapper, #rev_slider_1052_1, #rev_slider_1052_1_forcefullwidth{
	height:1200px !important;
}

/* slider_main_wrapper end */


/* services_section start */

.services_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.icon_text{
    border: 1px solid #e4e4e4;
	border-radius:5px;
    padding: 40px;
    position: relative;
    padding-top: 60px;
	margin-top: 30px;
}
.icon_text_effect{
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 85px;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    margin: 0px auto;
	border: 2px solid transparent;
}
.icon_text i{
    font-size: 25px;
    color: #999;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #e4e4e4;
    width: 60px;
    line-height: 60px;
    height: 60px;
}
.icon_text h4{
	margin-bottom:30px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_text:hover{
    border-color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon_text:hover .fa{
    color: #fff;
	background:#4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon_text:hover .icon_text_effect{
	background: #fff;
	border: 2px solid #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* services_section end */


/* portfolio_section start */

.portfolio_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#f7f7f7;
}
.portfolio-area{
	float:left;
	width:100%;
}
.portfolio-area .portfolio-area-intro{
    margin-bottom: 50px;
}
.portfolio-area .portfolio-area-intro p span,
.portfolio-area .portfolio-area-intro h2 {
    text-transform: uppercase;
}
.portfolio-area .portfolio-area-intro h2 {
    font-weight: 600;
}
.portfolio-area .portfolio-thumb{
    position: relative;
    overflow: hidden;
}
.portfolio-area .portfolio-thumb img{
    width: 100%;
}
.gc_filter_cont_overlay_wrapper {
  position: relative;
  width:auto;
  visibility:visible;
}
.portfolio-thumb:hover .gc_filter_cont_overlay {
  opacity:1;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	overflow:hidden;
	visibility:visible;
}
.gc_filter_cont_overlay i{
	color:#000000;
	width:50px;
	height:50px;
	background:#ffffff;
	text-align:center;
	line-height:50px;
	border-radius:100%;
	font-size:18px;
}
.gc_filter_cont_overlay_wrapper:hover .gc_filter_cont_overlay i{
	color:#000000;
	opacity:1;
}
.gc_filter_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.III_column{
	margin-top:30px;
}

/*portfolio-filter*/

.portfolio-filter {
    margin-bottom: 30px;
}
#filter li a{
    display: block;
    font-size: 16px;
    cursor: pointer;
	border: 1px solid transparent;
	border-radius:5px;
    color: #999999;
	background:transparent;
    padding: 10px 20px;
    margin-right: 10px;
	position:relative;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#filter li a:hover,
#filter li a.active{
	color: #4285f4;
    border-color: #4285f4;
}
#filter li a:last-child{
    margin-right: 0px;
}
.tab_image_text {
	float:left;
	width:100%;
    border: 1px solid #e1e1e1;
	padding:30px;
	border-top: none;
}
.project_category{
	float:left;
}	
.project_likes{
	float:right;
}
.project_category h4 a{
	color:#999999;
	font-size:14px;
}
.project_title h4{
	font-size:18px;
	font-weight:bold;
}
.project_title h4 a{
	color:#111111;
}
.project_title{
	padding-bottom:20px;
}
.project_likes a i{
	color:#4285f4;
}
.gc_filter_cont_overlay_wrapper {
  position: relative;
  width:auto;
  visibility:visible;
}
.gc_filter_cont_overlay {
      width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    background: rgba(26, 26, 26, 0.65);
}
.portfolio-thumb:hover .gc_filter_cont_overlay {
  opacity:1;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	overflow:hidden;
	visibility:visible;
}
.gc_filter_cont_overlay_wrapper:hover .tab_image_text {
    border: 1px solid #4285f4;
	background:#4285f4;
	border-top: none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.gc_filter_cont_overlay_wrapper:hover .project_title h4 a{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.gc_filter_cont_overlay_wrapper:hover .project_category h4 a{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.gc_filter_cont_overlay_wrapper:hover .project_likes a{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.gc_filter_cont_overlay_wrapper:hover .project_likes a i{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.gc_filter_cont_overlay_wrapper figure{
	display:block;
	margin:0;
	overflow:hidden
}
.gc_filter_cont_overlay_wrapper figure img{
	width:100%;
	display:block;
	transition:all 0.3s
}
.gc_filter_cont_overlay_wrapper:hover figure img {
    transform: scale(1.1, 1.1);
}

/* portfolio_section end */


/* features_list_wrapper start */

.features_list_wrapper{
    float: left;
	width: 100%;
	height: 100%;
    background-image: url(../images/home/home-2/feature_list_bg.jpg);
    background-position: center 0;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}
.features_list_overlay{
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0.7;
}
.features_list_wrapper .section_heading h2{
	color:#fff;
}
.features_list_img_wrapper{
	float:left;
	width:100%;
	text-align:center;
}
.features_list_img_wrapper img{
	display:inline-block;
}
.text_wrapper_left{
	float: left;
	width: 100%;
}
.text_wrapper_right{
	float: left;
	width: 100%;
}
.text_wrapper_right h4, .text_wrapper_right p{
	text-align:left;
}
.text_wrapper_left h4, .text_wrapper_left p{
	text-align:right;
}
.icon_content_right, .icon_content_left {
	font-size: 20px;
    color: #999;
	float:left;
	width:calc(100% - 80px);
	display:inline-block;
}
.icon_content_right{
	padding-left:30px;
}
.icon_content_left{
	padding-right:30px;
}
.icon_img_effect{
	text-align: center;
    float: left;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 82px;
	border: 2px solid transparent;
}
.icon_wrapper_list:hover .icon_img_effect{
	border: 2px solid #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_img_list{
	border-radius:50%;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
	font-size: 20px;
	color: #fff;
	background: #4285f4;
}
.icon_wrapper_list{
	text-align:center;
	padding-top:30px;
	float:left;
	width:100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper_list:hover h4 a{
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper_list h4 a{
	color: #fff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper_list p{
	margin-top: 20px;
}

/* features_list_wrapper end*/


/* counter_wrapper start */

.counter_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.counter_wrapper .counter_chart{
  position: relative;
  margin-bottom: 15px;
}
.counter_wrapper .percent {
	position: absolute;
	top: 38%;
	left:0;
    right:15px;
    margin: 0px auto;
	font-size: 30px;
    line-height: 30px;
	font-weight: 400;
	color: #111111;
	letter-spacing: 3px;
}

.counter_wrapper .percent:after {
	content: '%';
	position: absolute;
	font-size: 30px;
}
.counter_wrapper h4{
	line-height: 24px;
	font-size:18px;
	text-transform:uppercase;
	font-weight:500;
	padding-top: 10px;
}
.counter_wrapper p{
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	padding-top: 10px;
}

/* counter_wrapper end */ 

/* team_members_wrapper start*/

.team_members_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#f7f7f7;
}
.team_members_slider{
	float:left;
	width:100%;
	text-align:center;
}
.team_members_slider .owl-carousel .item{
	background:#ffffff;
}
.team_members_slider .owl-carousel {
	z-index:0;
}
.team_members_slider .owl-controls{
	display:none;
}
.team_members_slider .owl-theme .owl-nav{
	display:none;
}
.team_slider_wrapper{
	text-align:center;
}
.team_slider_wrapper:hover .team_members_slider_content h4 a{
	color:#4285f4;
}
.team_members_slider_image{
	display:inline-block;
}
.team_members_slider_content h4{
	font-size:20px;
	color:#222;
	font-weight:500;
}
.team_members_slider_content h5{
	font-size:14px;
	color:#4285f4;
	padding-top:30px;
	padding-bottom:10px;
}
.team_members_slider_content p {
    font-size: 16px;
    margin-top: 20px;
	margin-bottom: 30px;
    padding: 0px 25px;
}
.team_members_slider_content .btn {
    background-color: #f8f8f8;
    color: #999999;
    text-transform: uppercase;
    border: 0;
	height:40px;
	width:130px;
	line-height:30px;
    border-radius: 4px 4px 0px 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_members_slider_content .btn:hover {
    background: #4285f4;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_members_slider_social_icons{
	margin:0;
	padding:0;
	list-style-type:none;
	padding-top:20px;
	padding-bottom:20px;
	display: inline-block;
}
.team_members_slider_social_icons li{
	float:left;
	margin-left:24px;
}
.team_members_slider_social_icons li:first-child{
	margin-left:0;
}
.team_members_slider_social_icons li a{
	float:left;
	color: #999999;
	font-size:14px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.team_members_slider_social_icons li a:hover{
	color:#4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.team_members_slider .owl-theme .owl-dots {
	display:none;
}

/* team_members_wrapper end*/


/* testimonial_section start*/

.testimonial_section{
	width:100%;
	float:left;
	background-image:url('../images/home/home-2/testimonial_bg.jpg');
	height:100%;
	background-position:center 0;
	background-size: cover;
	position:relative;
	padding-bottom:100px;
	padding-top:100px;
}
.testimonial_section_overlay{
	content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0.8;
}
.testimonial_info{
	float:left;
	width:100%;
	text-align:center;
}
.testimonial_info .carousel-inner	h4{
	font-size:16px;
	color:#fff;
	padding-bottom:50px;
	text-transform:uppercase;
}
.testimonial_info .carousel-inner	p{
	font-size:40px;
	color:#fff;
	line-height:45px;
	padding-bottom:50px;
}
.testimonial_info img{
	display:inline-block;
	margin-top:-80px;
    position: relative;
    z-index: 1;
}

/* Carousel */

#testimonial_carousel {
    padding: 0 10px 30px 10px;
    margin-top: 10px;
    color: #ffffff;
}
#testimonial_carousel .carousel-control {
	display:none;
}
#testimonial_carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -50px;
    margin-right: -19px;
	z-index: 0;
}
#testimonial_carousel .carousel-indicators li {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
	border: 2px dashed transparent;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#testimonial_carousel .carousel-indicators li  img{
	border-radius:100%;
	padding:5px;
	margin: 0px;
    display: block;
}
#testimonial_carousel .carousel-indicators .active {
    background: transparent;
    border-radius: 100px;
    opacity: 1;
    overflow: hidden;
}

/* testimonial_section end*/


/* aboutus_section start */

.aboutus_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.about_image_wrapper,.about_text_wrapper {
	float:left;
	width:100%;
}
.about_image_wrapper{
	text-align:center;
}
.about_image_wrapper img{
	display:inline-block;
}
.about_text_wrapper h2{
	font-size:30px;
	margin-bottom:30px;
}
.about_text_wrapper p{
	font-size:16px;
}
.about_text_wrapper ul{
	margin:0;
	padding:0;
	list-style:none;
}
.about_text_wrapper ul li{
	float:left;
	width:100%;
	padding-top: 20px;
}
.about_text_wrapper ul li a{
	float:left;
	width:calc(100% - 15px);
	padding-left:10px;
	color: #999999;
	font-size:15px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.about_text_wrapper a:hover{
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.about_text_wrapper ul li i{
	float: left;
    width: 15px;
    line-height: 24px;
	color: #4285f4;
}
.about_text_wrapper_btn{
	float: left;
    width: 100%;
}
.about_text_wrapper_btn button{
	margin-top: 35px;
}
.btn_discover{
	background: #4285f4;
	border-radius: 5px;
	color:#fff;
	border: 1px solid  #4285f4;
	padding:10px 30px;
	text-transform: uppercase;
	margin-right:10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_discover:hover{
    background: transparent;
    border: 1px solid  #4285f4;
    color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_read_more {
    background:#f7f7f7;
    border-radius: 5px;
    color: #999;
    border: 1px solid #fff;
    padding:10px 30px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn_read_more:hover{
    background: transparent;
    border: 1px solid  #4285f4;
    color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* aboutus_section end*/


/* pricing_section start */

.pricing_section{
	float:left;
	width:100%;
    padding-top: 100px;
	padding-bottom: 100px;
	background:#f7f7f7;
}
.pricing_section .pricing-table-default {
	border: 1px solid #fff;
	border-radius:5px;
	margin-top: 30px;
	background: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-head h3 {
	font-size: 24px;
	color: #111111;
	padding: 30px 40px;
	margin: 0px;
}
.pricing_section .pricing-head .price {
    width: 120px;
    height: 120px;
    background: #4285f4;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 27px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-head .price .ruppe{
    font-size: 30px;
    line-height: 50px;
    display: block;
}
.pricing_section .pricing-head .price .month{
    font-size: 14px;
    line-height: 0;
    display: block;
}
.pricing_section .pricing-head .price .ruppe sup {
	font-size: 20px;
	font-weight: 300;
	top: -9px;
}
.pricing_section .pricing-detail {
	margin: 52px 0px;
	text-align: center;
}

/*pricing list*/

.pricing_section .pricing-list li {
	display: block;
	padding: 7px 0;
	color:#999999;
}
.pricing_section .pricing-list li:first-child {
	padding-top: 16px;
}
.pricing_section .pricing-list li:last-child {
	padding: 12px 0 0;
}
.pricing_section .pricing-table-default .btn {
	border: 0;
    padding: 15px 40px;
    text-transform: uppercase;
    background: #f7f7f7;
	color: #999;
    margin-top: 30px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover {
	background:#4285f4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover .price  {
	background:#fff;
	color:#4285f4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover h3{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover li{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* pricing_section end */


/*   client_section start */

.client_section {
	float: left;
	width: 100%;
    /* background-image: url(../images/home/home-2/client_bg.jpg); */
    height: 100%;
    background-position: center 0;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
}
.client_section_overlay {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0.8;
}
.client_section a {
	display: block;
	padding: 43px 0px;
	border-right:1px solid rgba(255, 255, 255, 0.20);
	text-align: center;
}	
.client_bordered_wrapper{
	float:left;
	width:100%;
	border-bottom:1px solid #fff;
}
.client_section .pd-2 {
	padding: 0px 2px 0px 0px;
}
.client_section .last{
	border-right:0;
}
.client_section a img {
	opacity: 0.5;
	-webkit-transition      : all 0.8s ease 0s;
    -moz-transition      : all 0.8s ease 0s;
    -o-transition      : all 0.8s ease 0s;
    transition      : all 0.8s ease 0s;
}
.client_section a:hover img {
	opacity: 1;
}

/*   client_section end */


/* --------------------------------------
blog_section start
----------------------------------------- */

.blog_section {
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.blog_section .blog-post-wrapper {
	background-color: #f7f7f7;
	margin-bottom: 40px;
}
.blog_section .blog-post-wrapper .post-thumbnail{
	position: relative;
}
.blog_section .blog-post-wrapper .post-thumbnail img{
	width: 100%;
}
.blog_section .blog-post-wrapper .post-thumbnail .author-thumb{
  position: absolute;
  right: 25px;
  bottom: -35px;
}
.blog_section .blog-post-wrapper .post-thumbnail .author-thumb img {
	width: 75px;
	height: 75px;
	background: #fff;
	padding: 5px;
	border-radius: 50%;
}
.blog_section .blog-post-wrapper .blog-content{
  padding: 52px 30px 30px;
}

/*entry-header*/

.blog_section .blog-post-wrapper .entry-header {
  margin-bottom: 20px;
  background:transparent;
}
.blog_section .blog-post-wrapper .entry-title{
	line-height: 22px;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.blog_section .blog-post-wrapper .entry-title a{
	color: #313131;
}
.blog_section .blog-post-wrapper .entry-title a:hover{
	color: #4285f4;
}

/*entry-meta*/

.blog_section .blog-post-wrapper .entry-header .entry-meta {
	font-size: 11px;
	text-transform: capitalize;
	
}
.blog_section .blog-post-wrapper .entry-header .entry-meta {
	font-size: 11px;
	text-transform: capitalize;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta ul{
	margin:0;
	padding:0;
	list-style:none;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li {
	display: inline-block;
	padding-right: 5px;
	margin-right: 5px;
	position: relative;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li:last-child {
	padding-right: 0;
	margin-right: 0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li::before {
  content: ".";
  position: absolute;
  right: -3px;
  bottom: 0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li:last-child::before {
  content: "";
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a{
	color: #969595;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a:hover{
	color: #4285f4;
}

/*entry-content*/

.blog_section .blog-post-wrapper .entry-content {}
.blog_section .blog-post-wrapper .entry-content p{
	margin: 0;
}
.readmore_btn{
	display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background: #4285f4;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.readmore_btn:hover{
     color: #fff;
	background:#194690;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*entry-footer*/

.blog_section .blog-post-wrapper .entry-footer {
  padding: 14px;
  text-align:center;
  border-top: 1px solid #ededed;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li {
	display: inline-block;
	margin-right: 7px;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li:last-child {
	margin-right: 0;
}
.blog_section .blog-post-wrapper .entry-footer a{
	display: inline-block;
    padding: 8px 14px;
    font-size: 13px;
	line-height: 0px;
	color: #dadada;
	background: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.blog_section .blog-post-wrapper .entry-footer a:hover{
  color: #fff;
  background: #4285f4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_section .blog-post-wrapper .entry-footer a i {
	color: #dadada;
}
.blog_section .blog-post-wrapper .entry-footer a:hover i {
	color: #fff;
}



/*blog gallery post*/

#blog_section_slider .carousel-control {
  top: auto;
  bottom: 20px;
  width: 56px;
  height: 26px;
  font-size: 13px;
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}

#blog_section_slider .carousel-control.left,
#blog_section_slider .carousel-control.right {
  background-image: none;
  border: 1px solid #fff;
  border-radius: 30px;
  line-height:24px;
}

#blog_section_slider .carousel-control:focus, 
#blog_section_slider .carousel-control:hover {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  color: #fff !important;
  filter: alpha(opacity=100);
  opacity: 1;
}

#blog_section_slider .carousel-control.left {
  left: 20px;
}
#blog_section_slider .carousel-control.right {
	left: 87px;
}


/*blog video post*/

.blog_section .blog-post-wrapper .play-trigger {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: -30px;
	margin-top: -30px;
	border: 0;
	color: #fff;
	background: #4285f4;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	-webkit-transition      : all 0.3s ease 0s;
	-moz-transition      : all 0.3s ease 0s;
	-o-transition      : all 0.3s ease 0s;
	transition      : all 0.3s ease 0s;
}
.blog_section .blog-post-wrapper .play-trigger:hover {
  color: #4285f4;
  background: #fff;
}
.blog_section .blog-post-wrapper .play-trigger i {
	margin-left: 5px;
}

/* --------------------------------------
blog_section end
----------------------------------------- */


/** newsletter_section start **/

.newsletter_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#4285f4;
}
.newsletter_section .newsletter_wrap {
    width: 100%;
}
.newsletter_section .newsletter_content{
   float: left;
   width: 100%;
   margin-top:7px;
}
.newsletter_section .newsletter_button{
   float: left;
   width: 100%;
}
.newsletter_content h2{
	color:#fff;
	font-size:30px;
	line-height: 38px;
	text-transform:uppercase;
}
.newsletter_img{
	float: left;
    width: 52px;
}
.newsletter_heading{
	float: left;
	width: calc(100% - 52px);
    padding-left: 20px;
}
.newsletter_form .form-group{
	margin-bottom:0px;
}
.newsletter_form .form-group i{
    font-size: 18px;
    color: #fff;
	margin-left:-40px;
}
.newsletter_form input{
	width: 100%;
	height: 50px;
    font-size: 14px;
    line-height: 24px;
	color:#fff;
	padding: 17px 54px 17px 20px;
    background-color: transparent;
	box-shadow:none;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-style: solid solid solid solid;
    border-radius: 3px;
}
.newsletter_form input::placeholder{
  color: #fff;
}
.newsletter_button button.btn{
	background: #fff;
	border: 1px solid #fff;
	color:#999;
	font-size: 16px;
    line-height: 40px;
	width:165px;
	height: 50px;
	text-transform:uppercase;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.newsletter_button button.btn:hover{
	background: transparent;
	border: 1px solid #fff;
	color:#fff;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

/** newsletter_section end **/


@media (min-width: 992px) and (max-width: 1199px){
	
	.navbar-default .navbar-nav>li>a {
		padding: 24px 7px;
	}
	.dropdown .dropdown-menu li .dropdown-menu-right {
		min-width: 206px;
	}
	.lv_search_bar {
		padding: 23px 15px;
	}
	.navbar-brand {
		padding: 15px 15px;
	}
	#cart-badge {
		right: -5px;
		top: 18px;
	}
	.wrapper_second_blog, .wrapper_second_contact {
		padding-top: 40px;
	}
	.icon_text h4 {
		font-size:18px;
	}
	.about_text_wrapper ul li a {
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	
	.navbar-toggle {
		display: block;
		margin-top: 30px;
	}	
	.navbar-brand {
		height:auto;
		padding: 30px 0px;
	}		
	.contact_info_wrapper ul li{
		padding: 15px 12px;
	}
	.wrapper_first_icon{
		padding-bottom:40px;
		padding-top:0px;
	}
	.footer_wrapper_first {
		padding-bottom: 35px;
	}
	.navbar-header {
		float: left;
		width: 100%;
	}
	.wrapper_second_blog, .wrapper_second_contact {
		padding-top: 40px;
	}
	.icon_text {
		margin-bottom:30px;
	}
	#filter li a {
		font-size: 15px;
		padding: 10px 12px;
	}
	.about_image_wrapper {
		margin-bottom:40px;
	}
	.client_section a {
		border-bottom:1px solid rgba(255, 255, 255, 0.20);
	}
	.client_bordered_wrapper{
		border-bottom:0px;
	}
	.client_section a.hide_sm_border{
		border-right:0px !important;
	}	
	.our_progress{
		margin-bottom: 40px;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
	
}

@media (max-width: 767px){
	
	.navbar-toggle {
		margin-top: 30px;
	}	
	.navbar-brand {
		height:auto;
		padding: 30px 0px;
	}
	.signin_wrapper .dropdown-menu {
		right: 0;
		left:auto;
		border:0;
	}
	.contact_info_wrapper:before{
		display:none;
	}
	.contact_info_wrapper ul li {
		padding: 15px 0px;
	}
	.wrapper_first_icon {
		padding-top: 40px;
	}
	.wrapper_second_useful, .wrapper_second_blog, .wrapper_second_contact {
		padding-top: 40px;
	}
	.icon_text {
		margin-bottom:50px;
	}
	.text_wrapper_left h4, .text_wrapper_left p {
		text-align: left;
	}
	.icon_content_left {
		float: right;
		padding-left: 30px;
	}
	#filter li a:last-child {
		margin-top: 20px;
	}
	.testimonial_info .carousel-inner p{
		font-size: 30px;
	}
	#testimonial_carousel .carousel-indicators li {
		width: 56px;
		height: 56px;
	}
	#testimonial_carousel .carousel-indicators {
		bottom: -50px;
	}
	.about_image_wrapper {
		margin-bottom:40px;
	}
	.about_text_wrapper ul li a {
		font-size:14px;
	}
	.pricing_section .pricing-table-default {
		margin-bottom: 30px;
		text-align: center;
	}
	.client_section a {
		border-bottom:1px solid rgba(255, 255, 255, 0.20);
		border-right:0;
	}
	.client_bordered_wrapper{
		border-bottom:0px;
	}
	.our_progress{
		margin-bottom: 60px;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
	
}

@media (max-width: 480px){
	
	.top-bar{
		display:none;
	}
	.copyright_icons li a i {
		font-size: 18px;
	}
	.testimonial_info .carousel-inner p {
		font-size: 20px;
	}
	#testimonial_carousel .carousel-indicators li {
		width: 52px;
		height: 52px;
		margin: 0px;
	}
	#testimonial_carousel .carousel-indicators {
		bottom: -40px;
	}
	.about_text_wrapper h2 {
		font-size: 20px;
	}
	.newsletter_content h2 {
		font-size: 24px;
	}
}

@media (max-width: 390px){
	
	.testimonial_info .carousel-inner p {
		font-size: 16px;
	}
	#testimonial_carousel .carousel-indicators li {
		width: 46px;
		height: 46px;
	}
	.about_text_wrapper_btn{
		text-align: center;
	}
	.about_text_wrapper_btn button {
		display: inline-block;
	}
	.newsletter_content h2 {
		font-size: 16px;
	}
	.section_heading h2 {
		font-size: 22px;
	}
}