/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. body
2. header css 
3. logo_wrapper start
4. menu_wrapper start
5. slider_area start 
6. about_section start
7. features_section start
8. features_with_images start
9. services_section start 
10. portfolio_section start
11. counter_section start
12. team_section start
13. testimonial_section start
14. iphone_section start
15. ipad_section start
16. pricing_section start 
17. blog_section start 
18. contact_section start  
19. footer start
*/

/* custom css */

body, html{
	font-family: 'Roboto';
}
h1, h2, h3, h4, h5, h6{
    font-size: 20px;
    color: #111111;
	margin:0;
	padding:0;
	font-family: 'Roboto';
	font-weight: 400;
}
p{
    color: #999999;
    font-size: 14px;
	line-height: 24px;
}
a:hover{
	text-decoration:none;
	color:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a{
	color: #111111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: unset;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #34c176;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
.full_width{
	float:left;
	width:100%;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
input:focus{
	outline:none;
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.menu_fixed{
	position:fixed;
	background-color:#222222;
	z-index:1000;
	padding:20px 12px;
}
.menu_fixed #menu_wrapper_navbar ul li a{
	color:#fff;
}
.menu_fixed .menu_toggle i{
	color:#fff;
}
.menu_fixed .menu_wrapper_social li a{
	color:#fff;
}
#menu_wrapper_navbar ul li a:hover, 
#menu_wrapper_navbar ul li.active a{
	color:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.sidenav a:hover, .sidenav a.active a{
	color: #f1f1f1;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*heading_section*/

.heading_section {
	text-align: center;
    float: left;
    width: 100%;
}
.section_heading {
	float: left;
    width: 100%;
    margin-bottom: 30px;
}
.section_heading h2{
	font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
}
.section_heading h2::before,
.section_heading h2::after {
    content: " ";
    height: 10px;
    width: 10px;
    background-color: #34c176;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -5px;
}
.heading_section h2::before {
    left: -28px;
}
.heading_section h2::after {
    right: -28px;
}
.section_content {
	float: left;
    width: 100%;
    margin-bottom: 50px;
}
.section_content p {
    font-size: 16px;
}
#map-canvas{
  height: 500px;
  width: 100%;
}

/* custom css end*/


/* header strt */

header{
	background:#f7f7f7;
}
.style_heading{
	font-size:40px;
	font-weight:300;
}
.text_bg{
padding: 18px 0px 40px 0px;
}
.text_bg_heading{
	font-size:40px;
	color:#b4b4b4;
	margin: 0px;
	font-weight:300;
}
.centered{
	margin:auto;
	display:block;
	margin-bottom:45px;
}

/* header end */

/* logo_wrapper start */

.logo_wrapper{
	float:left;
	width:100%;
	padding: 30px 0px;
	border-bottom:1px solid #f2f2f2;
}
.logo_image{
	text-align:center;
	display:inline-block;
}
.logo_image img{
	display:inline-block;
}
.signin_wrapper,.cart_wrapper{
	float:left;
	width:100%;
	padding-top: 12px;
}
.signin_wrapper .dropdown-menu{
	right:auto;
	left:0;
}
.signin_wrapper .sigin_wrapper_text {
	font-size:14px;
	font-weight:bold;
	color:#111111;
	text-transform:uppercase;
}
.signin_wrapper .sigin_wrapper_text:hover {
    color: #34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper .dropdown-menu .signin_dropdown{
	float:left;
    width: 350px;
	padding:30px 50px;
}
.signin_wrapper .signin_dropdown a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
	padding: 6px 25px;
    line-height: 36px;
	margin-bottom:20px;
	text-align:left;
	border-radius:5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
}
.signin_wrapper .signin_dropdown a.btn:hover {
   background-color: #2c6ad4;
   border-color: #2c6ad4;
}
.signin_wrapper .signin_dropdown a.span{
	float:left;
}
.signin_wrapper .dropdown-menu .signin_dropdown a i{
	float:right;
	margin:0;
	line-height: 35px;
}
.signin_wrapper .signin_dropdown a.google-plus{
    background: #db4c3e;
    border: 1px solid #db4c3e;
}
.signin_wrapper .signin_dropdown a.google-plus:hover{
    background: #bd4033;
    border-color:#bd4033;
}
.signin_wrapper .signin_dropdown h2 {
    font-size: 18px;
	font-weight:500;
	margin-bottom:20px;
	color:#111;
    line-height: 20px;
    text-transform: uppercase;
	text-align:center;
    position: relative;
}
.signin_wrapper .signin_dropdown h2::before, .signin_dropdown h2::after {
    content: "";
    background: #e4e4e4;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
}
.signin_wrapper .signin_dropdown h2::before {
    right: 60%;
}
.signin_wrapper .signin_dropdown h2::after {
    left: 60%;
}
.signin_wrapper .signin_dropdown .form-control {
	height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
	-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   background-color: #fafafa;
}
.signin_wrapper .signin_dropdown textarea.form-control{
	height:auto;
	resize:none;
}
.signin_wrapper .signin_dropdown input::placeholder, .signin_dropdown textarea::placeholder {
  color: #999;
}
.signin_wrapper .signin_dropdown .form-control:focus {
	color: #999;
	background-color: fafafa;
	border: 1px solid #34c176 !important;	
}
.formsix-pos,.formsix-e{
	position: relative;
}
.form-group.i-password:after, .form-group.i-email:after{
    position: absolute;
     top: 13px;
    font-size: 18px;
    font-family: "FontAwesome";
    color: #c0c0c0;
}
.signin_dropdown .form-group.i-email:after{
	content: "\f0e0";
	right: 25px;
}
.signin_dropdown .form-group.i-password:after{
	content: "\f09c";
	right: 25px;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}
.remember_box a i{
	float:left;
	color:#999;
	margin-right:5px;
	line-height: 20px;
}
.login_wrapper{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.signin_wrapper .signin_dropdown a.login_btn {
   text-align:center;
   text-transform:uppercase;
   margin-bottom:15px;
   background:#34c176;
   border:1px solid #34c176;
}
.signin_wrapper .signin_dropdown a.login_btn:hover {
   background:#105f35;
   border-color:#105f35;
}
.sign_up_message p{
	font-size:16px;
}
.signin_wrapper .dropdown-menu li .sign_up_message a{
	display: inline-block;
    padding: 0;
    color: #34c176;
	font-size:16px;
}
.signin_wrapper .dropdown-menu li .sign_up_message a:hover{
	background:#fff;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .control {
    position: relative;
	padding-left:20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
	margin:0;
}
.remember_box .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.remember_box .control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
}
.remember_box .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.remember_box .control input:checked ~ .control__indicator:after {
  display: block;
}
.remember_box .control--checkbox .control__indicator:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}

.logo_image{
	float:left;
	width:100%;
}

/* dropdown-menu start */

.dropdown-menu {
  display: inherit;
  top: 32px;
  right:0;
  left:auto;
  border-top:2px solid #34c176;
  padding: 0;
  font-size: 13px;
  border-radius: 0;
}
.dropdown .dropdown-menu {
	margin-top: 15px !important;
	opacity: 0;
	visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: -3px !important;
    opacity: 1;
    visibility: visible;
}
.dropdown img, .dropdown span{
	float:left;
}

/* cart-dropdown-block start */

/*cart-dropdown*/

.cart_wrapper .dropdown .dropdown-menu{
	  right: 0;
	  left:auto;
}
.cart_wrapper .dropdown{
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#111111;
	text-transform:uppercase;
	position:relative;
	list-style:none;
}
.cart_wrapper span{
	margin-left:5px;
}
.cart-dropdown{
  width: 350px;
}
.cart-dropdown .media {
  margin-top: 0;
  position: relative;
}
.cart-dropdown .media-list li {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 40px;
}
.cart-dropdown .media>.media-left{
    padding-right: 30px;
}
.cart-dropdown .media-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #212121;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.cart-dropdown .quantity, 
.cart-dropdown .price  {
  font-size: 16px;
}
.cart-dropdown .quantity{
	float: left;
    width: 20px;
    height: 20px;
    background: #f7f7f7;
    color: #999;
    line-height: 20px;
    text-align: center;
}
.cart-dropdown .price {
  color: #34c176;
  margin-left:20px;
  font-weight:600;
}
.cart-dropdown .close i {
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 14px;
  border: 1px solid #A59F9F;
  border-radius: 50%;
  color: #B5B0B0;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 30px;
}
.cart-dropdown .total {
  padding: 20px 40px;
  text-transform: capitalize;
}
.cart-dropdown .total a.btn{
  position: relative;
  top: -25px;
  color: #fff;
  width:160px;
  height:50px;
  line-height:38px;
  text-align:center;
  background: #34c176;
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
  border:1px solid #34c176;
}
.cart-dropdown .total a.btn:hover{
  background-color: #105f35;
  border-color: #105f35;
}
.cart-dropdown .total .total_price{
  margin-top:0;
  color: #34c176;
  font-weight: 600;
}
.cart-dropdown .total .total_item{
	font-size:12px;
	color: #999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-badge {
    font-size: 10px;
    background: #34c176;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    position: absolute;
    right: 25px;
    top: -8px;
}

/* logo_wrapper end */

/* menu_wrapper start */

.menu_wrapper{
	float:left;
	width:100%;
}
.menu_wrapper .navbar-inverse{
    background-color: transparent;
	border-color:transparent;
	margin-bottom: 0px;
}
.menu_wrapper .navbar{
	margin-bottom: 0px;
	border:none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color:transparent;
	border-color:rgba(255, 255, 255, 0.20);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#menu_wrapper_navbar ul li a{
	font-size:14px;
	color:#111111;
	text-transform:uppercase;
	font-weight:500;
	border:1px solid transparent;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_toggle,.menu_social_icons{
	float:left;
	width:100%;
	padding-top: 15px;
}
.menu_wrapper_social{
	margin:0;
	padding:0;
	list-style:none;
	float: right;
}
.menu_wrapper_social li{
	float:left;
	margin-left:20px;
}
.menu_wrapper_social li a{
	color:#c2c2c2;
}
.menu_wrapper_social li a:hover{
	color:#34c176;
}
.menu_wrapper_social li:first-child{
	margin-left:0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 999;
}
.sidenav a {
    padding: 14px 8px 14px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
}
.sidenav .closebtn {
	position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* menu_wrapper end */

/*....................................
 slider area start here
....................................*/

.section4_slider_wrapper{
	float:left;
	width:100%;
}
.main_slide1{
	background:url('../images/slide1.jpg') 50% 0 repeat-y;
	width:100%;
	min-height:800px;
	background-size:cover;
	background-position:center 0;
	position:relative;
}
.main_slide2{
	background:url('../images/slide2.jpg') 50% 0 repeat-y;
	width:100%;
	min-height:800px;
	background-size:cover;
	background-position:center 0;
	position:relative;
}
.main_slide3{
	background:url('../images/slide3.jpg') 50% 0 repeat-y;
	width:100%;
	min-height:800px;
	background-size:cover;
	background-position:center 0;
	position:relative;
}
.main_slide4{
	background:url('../images/slide4.jpg') 50% 0 repeat-y;
	width:100%;
	min-height:800px;
	background-size:cover;
	background-position:center 0;
	position:relative;
}
.section4_slider_overlay{
	position:absolute;
	top:0%;
	left:0%;
	right:0%;
	bottom:0%;
	background:rgba(0,0,0,0.7);
}
.section4_slider_wrapper  .owl-theme .owl-dots{
	display:none;
}
.section4_slider_wrapper .owl-carousel .owl-nav{
	display:visible !important;
}
.section4_slider_wrapper .owl-theme .owl-nav {
    position: absolute;
    top: 30%;
    margin: 0;
    margin-top: 100px;
    left: 0;
    right: 0;
	display:block;
	z-index:100;
}
.section4_slider_wrapper .owl-theme .owl-nav .owl-prev{
    font-size: 40px;
    margin: 0;
    padding: 0;
    left: 45px;
	top:30px;
    position: absolute;
    text-align: center;
	background:rgba(255, 255, 255, 0.07);
	color:#fff;
	border: 2px solid rgba(255, 255, 255, 0.17);
	width:60px;
	height:60px;
	padding-right: 4px;
	text-align:center;
	line-height:54px;
	border-radius:100%;
}
.section4_slider_wrapper .owl-theme .owl-nav .owl-next{
    font-size: 40px;
    margin: 0;
    padding: 0;
    right: 45px;
	top:30px;
    position: absolute;
    text-align: center;
	background:rgba(255, 255, 255, 0.07);
	color:#fff;
	border: 2px solid rgba(255, 255, 255, 0.17);
	width:60px;
	height:60px;
	padding-left: 4px;
	text-align:center;
	line-height:54px;
	border-radius:100%;
}
.section4_slider_wrapper .owl-theme .owl-nav .owl-prev:hover, .section4_slider_wrapper  .owl-theme .owl-nav .owl-next:hover{
	background:transparent;
}
.section4_slider_wrapper .item img {
  display: block;
  width: 100%;
  height:100%;
}

.plumb_slider_cont1_wrapper{
	text-align:center;
}
.slider_content{
	position: absolute;
    top: 30%;
    left: 0;
	right: 0;
    display: inline-block;

}
.slider_content h2{
	color:#ffffff;
	font-size:50px;
	font-weight:bold;
	padding-bottom:30px;
	text-transform:uppercase;
}

.slider_content p{
	font-size:18px;
	color:#ffffff;
	padding-bottom:40px;
}

.slider_content .form-control {
	border: 2px solid rgba(255, 255, 255, 0.17);
	background: rgba(255, 255, 255, 0.07);
	height: 50px;
    padding: 6px 20px;
    font-size: 14px;
    color: #fff;
}
.slider_content .form-group{
	margin-bottom:7px;
}
.slider_content form input::placeholder{
	color:#ffffff;
}

.slider_content .form-control:focus {
	color: #fff !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.27) !important;
	background: transparent;
	box-shadow: none;
}

.slider_content form button.btn{
	width:100%;
	margin: 30px auto;
	display: block;
    padding: 11px 32px;
	background: #34c176;
	border: 1px solid #34c176;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   text-transform:uppercase;
}
.slider_content form button.btn:focus{
	 outline-offset: unset;
}
.slider_content .btn-primary:focus,
.slider_content .btn-primary:hover{
	background: #105f35 !important;
  	border: 1px solid #105f35 !important;
	outline: none;
}

@media (max-width: 767px){
	.slider_content h2{font-size:40px;}
}


/* Media Query For slider_area */

@media(max-width: 1200px) {
	.slider_area .carousel-inner .item{
		height: 900px;
	}
	.menu_wrapper .navbar {
		padding-top: 5px;
	}
	.menu_fixed .menu_wrapper .navbar {
		padding-top: 0px;
	}
}
@media(min-width: 768px) and (max-width: 991px) {
	.slider_area .carousel-inner .item{
		height: 700px;
	}
	.slider_content .form-group {
		text-align: center;
	}
	.section4_slider_wrapper .owl-theme .owl-nav {
		top: 24%;
	}
	.slider_content h2{
		font-size: 40px;
		padding-bottom:0;
	}
	.slider_content p{
		padding-bottom:20px;
	}
	.slider_content .form-control {
		display: inline-block;
		width: 80%;
	}
	.slider_content .form-group input:first-child{
		margin-bottom: 20px; 
	}
	.slider_content .form-group {
		text-align: center;
	}
	.slider_content form button.btn {
		 width: 80%;
		 margin: 20px auto;
	}
	.menu_fixed .menu_wrapper .navbar {
		padding-top: 0px;
	}
	.slider_area .carousel-control{
		width: 60px;
		height:60px;
		font-size: 18px;
		line-height:60px;
	}
	.slider_content{
		top: 20%;
	}
	.slider_area .carousel-control.carousel-control-next{
		right: -8%;
	}
	.slider_area .carousel-control.carousel-control-prev{
		left: -8%;
	}
}

@media(max-width: 767px){
	.menu_wrapper {
		padding: 20px 0px;
	}
	.menu_toggle, .menu_social_icons {
		padding-top: 0px; 
	}
	.slider_content .form-group {
		text-align: center;
	}
	.slider_content form button.btn {
		 width: 80%;
	}
	.slider_area .carousel-inner .item{
		height: 500px;
	}
	.slider_content{
		top: 10%;
	}
	.section4_slider_wrapper .owl-theme .owl-nav {
		top: 16%;
	}
	.slider_content h2{
		font-size: 36px;
	}
	.slider_content p{
		padding-bottom:20px;
	}
	.slider_content .form-group input:first-child{
		margin-bottom: 20px; 
	}
	.slider_content .form-control {
		display: inline-block;
		width: 80%;
	}
	.slider_content .form-group {
		text-align: center;
	}
	.slider_content form button.btn {
		 width: 80%;
		 margin: 20px auto;
	}
	.slider_area .carousel-control{
		top: 45%;
		width: 50px;
		height: 50px;
		line-height:50px;
		font-size: 16px;
	}
	.slider_area .carousel-control.carousel-control-next{
		right: -11%;
	}
	.slider_area .carousel-control.carousel-control-prev{
		left: -11%;
	}
	.slider_area:hover .carousel-control.carousel-control-prev{
		left: 3%;
	}
	.slider_area:hover .carousel-control.carousel-control-next{
		right: 3%;
	}
}

@media only screen and (max-width : 480px) {
	.slider_area .carousel-inner .item{
		height: 500px;
	}
	.slider_content{
		top: 10%;
	}
	.section4_slider_wrapper .owl-theme .owl-nav{
		top: 10%;
	}
	.slider_content h2{
		font-size: 30px; 
		padding-bottom:0;
	}
	.slider_content p {
		font-size: 13px;
		padding-bottom:0;
	}
	.slider_content .form-control {
		margin-bottom: 20px;
	}
	.slider_area .carousel-control{
		top: 40%;
		width: 50px;
		height: 50px;
		line-height:50px;
		font-size: 16px;
	}
	.slider_area .carousel-control.carousel-control-next{
		right: -16%;
	}
	.slider_area .carousel-control.carousel-control-prev{
		left: -16%;
	}
	.slider_area:hover .carousel-control.carousel-control-prev{
		left: 2%;
	}
	.slider_area:hover .carousel-control.carousel-control-next{
		right: 2%;
	}
	
}

/*....................................
 slider area end here
....................................*/

/* about_section start*/

.about_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:60px;
}
.about_section h4{
	margin-bottom:30px;
}
.icon-text{
	margin-bottom:40px;
}
.icon-text .fa{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 35px;
    color: #999999;
	margin-bottom:30px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon-text h4{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon-text:hover .fa{
    color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon-text:hover h4 a{
    color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* about_section end*/

/* features_section start */

.features_section{
	float:left;
	width:100%;
	padding-top:100px;
	background:#f7f7f7;
}
.image_wrapper{
	float:left;
	width:100%;
	text-align:Center;
}
.image_wrapper img{
	display:inline-block;
}
.text_wrapper{
	float:left;
	width:100%;
}
.text_wrapper_heading, .text_wrapper_content{
	float:left;
	width:100%;
}
.text_wrapper_heading h2{
	font-size:40px;
	font-weight: 300;
	position:relative;
}
.text_wrapper_heading h2:after{
	content:'';
	border:1px solid #34c176;
	display:block;
	width:50px;
	position:absolute;
	margin-top:20px;
}
.text_wrapper_content p{
	margin-top:40px;
}
.icon_img_red, .icon_img_blue, .icon_img_green{
	float:left;
	border-radius:50%;
	width:100px;
	height:100px;
	line-height:100px;
	display:inline-block;
	font-size: 25px;
	color: #fff;
}
.icon_img_red{
	background: #e85b79;
}
.icon_img_blue{
	background: #34c176;
}
.icon_img_green{
	background: #4ddc90;
}
.icon_content_red, .icon_content_blue, .icon_content_green{
	font-size: 20px;
    color: #111111;
	float:left;
	width:calc(100% - 100px);
	padding-left:30px;
	display:inline-block;
}
.icon_wrapper p{
	margin-top: 15px;
	text-align:left;
}
.icon_wrapper a{
	color: #111111;
}
.icon_wrapper h4{
	text-align:left;
}
.icon_wrapper{
	text-align:center;
	padding-top:30px;
	float:left;
	width:100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper:hover .icon_content_red h4 a{
	color: #e85b79;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper:hover .icon_content_blue h4 a{
	color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.icon_wrapper:hover .icon_content_green h4 a{
	color: #4ddc90;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* features_section end*/

/* features_with_images start*/

.features_with_images{
	float: left;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    background: url(../images/features_bg.jpg);
    background-size: cover;
    background-position: center 0;
	text-align:center;
    height: 100%;
	position:relative;
}
.features_overlay_section {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
	background:#000;
	opacity: 0.8;
}
.global_image_wrapper{
	float:left;
	width:100%;
}
.global_image_wrapper img{
	position: relative;
    top: 35px;
}
.features_with_images .section_heading h2{
	color: #fff;
}
.features_with_images .section_content p{
	color: #fff;
}

/* features_with_images end*/

/* services_section start*/

.services_section{
	float:left;
	width:100%;
	padding-top:128px;
	padding-bottom:100px;
}
.services_section .fa{
	font-size: 25px;
    color: #fff;
    background: #34c176;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
	padding: 50px 0px 46px 0px;
    width: 120px;
	margin-bottom:34px;
}
.icon-section{
	 border:1px solid #efefef;
	 padding: 54px 20px;
	 margin-bottom: 40px;
	 -webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon-section p{
	padding:0px 10px;
}
.icon-section:hover{
	border-color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon-section h4{
	margin-bottom:30px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon-section:hover h4 a{
	color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.icon-section:hover .fa{ 
     transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
 
/* services_section end*/

/* portfolio_section start */

.portfolio_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background: #f7f7f7;
	text-align:center;
}
.portfolio_img_wrapper{
	text-align:center;
}
.portfolio_img {
	display:inline-block;
	position:relative;
	margin-bottom:30px;
}
.portfolio_img_overlay {
background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
    height: calc(100% - 60px);
    left: 30px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    transform: translateX(-15px) translateY(-15px);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: calc(100% - 60px);
	transition: .2s ease;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.portfolio_img_wrapper:hover .portfolio_img_overlay {
  transform: translateX(0) translateY(0);
    visibility: visible;
    opacity: 1;
}
.portfolio_img_text {
  opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
}
.portfolio_img_wrapper:hover .portfolio_img_text {
    visibility: visible;
    opacity: 1;
}
.portfolio_img_text a{
	padding: 10px;
    font-size: 12px;
    border: 1px solid #34c176;
    color: #34c176;
}
.portfolio_img_text a:hover{
	background:#34c176;
	color: #fff;
}
.search{
	margin-right:20px;
}
.view_all{
	padding-top:56px;
	display:inline-block;
}
.view_all a{
	float:left;
	background:#34c176;
	border:1px solid #34c176;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	padding:10px 35px;
	border-radius:5px;
}
.view_all a:hover{
    background:transparent;
    color: #34c176;
}

/* portfolio_section end*/
 
/*counter_section start*/

.counter_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.counter_section .chart_one{
  position: relative;
  margin-bottom: 15px;
}
.counter_section .percent {
	position: absolute;
	top: 38%;
	left: 0;
    right: 0;
    margin: 0px auto;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #111111;
	letter-spacing: 3px;
}

.counter_section .percent:after {
	content: '%';
	font-size: 18px;
	position: absolute;
	margin-top: -5px;
}
.counter_section h4{
	line-height: 24px;
	color: #111111;
	padding-top: 10px;
}
.counter_section p{
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	padding-top: 10px;
}

/*counter_section end*/ 
 
 
/* testimonial_section start */

.testimonial_section{
	float:left;
	width:100%;
	background: url(../images/testimonial_bg.jpg);
    background-size: cover;
    background-position: center 0;
    position: relative;
	padding-top:100px;
	padding-bottom:100px;
}
.testimonial_overlay_section{
	position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
	background:#000;
	opacity: 0.8;
}
.testimonial_section h2{
	color:#fff;
}
.testimonial_section .section_content p{
		color:#fff;
}
.testimonial_item_image{
	text-align:center;
	margin-bottom:32px;
}
.testimonial_item_image img{
	display:inline-block;
	border-radius:50%;
}
.testimonial_item_content{
	font-style:italic;
	position:relative;
	display:inline-block;
}
.testimonial_item_author{
	margin-bottom: 28px;
}
.testimonial_item_author h5{
	font-size:16px;
	font-weight:500;
}
.testimonial_item_author h6{
	font-size:12px;
	font-weight:500;
	color:#999999;
	margin-top:10px;
}
.testimonial_slider{
	float:left;
	width:100%;
	text-align:center;
}
.testimonial_item_content i{
color:#ffc000;
}
.testimonial_slider .owl-carousel .owl-item{
	padding:60px 40px;
	background:#ffffff;
}
.testimonial_slider  .owl-theme .owl-dots{
	display:none;
}
.testimonial_slider .owl-theme .owl-dots .owl-dot{
	margin-left: 3px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testimonial_slider .owl-theme .owl-dots .owl-dot span{
	width:5px;
	height:5px;
	background:#cccccc;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testimonial_slider .owl-theme .owl-dots .owl-dot.active span, .testimonial_slider .owl-theme .owl-dots .owl-dot:hover span  {
	background:#34c176;
	width:8px;
	height:8px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testimonial_slider .owl-theme .owl-dots .owl-dot.active, .testimonial_slider .owl-theme .owl-dots .owl-dot:hover{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testimonial_slider .owl-theme .owl-nav .owl-prev,
.testimonial_slider .owl-theme .owl-nav .owl-next{
	background:#f7f7f7;
	color:#999999;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.testimonial_slider  .owl-theme .owl-nav .owl-prev:hover,
.testimonial_slider   .owl-theme .owl-nav .owl-next:hover{
	background:#34c176;
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.testimonial_slider .owl-theme .owl-nav .owl-next{
	position: absolute;
    right: -52px;
    top: 220px;
}
.testimonial_slider .owl-theme .owl-nav .owl-prev{
	position: absolute;
      left: -52px;
    top: 220px;

}

/* Media Query For testimonial_slider */

@media(max-width: 1280px){
	.testimonial_slider .owl-theme .owl-nav .owl-next{
		
		position: relative;
		right: 0px;
		top:0px;
	}
	.testimonial_slider .owl-theme .owl-nav .owl-prev{
		
		position: relative;
		left:0px;
		top:0px;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	.testimonial_slider .owl-theme .owl-nav .owl-prev {
    left: -34px;
	}
	.testimonial_slider .owl-theme .owl-nav .owl-next {
		right: -34px;
	}
}

@media(max-width: 767px){	
	.testimonial_slider .owl-theme .owl-nav .owl-next{
		position: relative;
		right: 0px;
		top:0px;
    }
	.testimonial_slider .owl-theme .owl-nav .owl-prev{
		position: relative;
		left:0px;
		top:0px;
	}
}

/* testimonial_section end*/ 
 
/* team_section start */

.team_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#f7f7f7;
}
.team_slider{
	float:left;
	width:100%;
	text-align:center;
}
.team_slider .owl-theme .owl-dots .owl-dot{
	margin-left: 3px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	padding-top:30px;
}
.team_slider .owl-theme .owl-dots .owl-dot span{
	width:5px;
	height:5px;
	background:#cccccc;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_slider .owl-theme .owl-dots .owl-dot.active span, .team_slider .owl-theme .owl-dots .owl-dot:hover span  {
	background:#34c176;
	width:8px;
	height:8px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_slider .owl-theme .owl-dots .owl-dot.active, .team_slider .owl-theme .owl-dots .owl-dot:hover{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_slider .owl-theme .owl-nav{
	display:none;
}
.team_slider_image img{
	border-radius:50%;
}
.team_slider_image{
	padding-bottom: 121px;
    position: relative;
	z-index:999;
}
.team_slider_content h5{
	font-size:16px;
	color:#999;
	padding-bottom:10px;
	padding-top:30px;
	z-index:-1;
}
.team_slider_content h4{
	font-size:22px;
	padding-bottom:30px;
	z-index:-1;	
}
.team_slider{
	float:left;
	width:100%;
	display: inline-block;
}
.main_wrapper{
	text-align:center;
}
.main_wrapper:hover .team_slider_content h4 a{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.main_wrapper:hover .team_slider_content h4 a{
	color:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.main_wrapper:hover .team_slider_image:after{
	background:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.main_wrapper:hover .team_slider_content{
	border:1px solid #34c176;
	border-top:0;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_slider_image{
	display:inline-block;
	
}
.team_slider_image:after{
	position:absolute;
	content:'';
	width:60px;
	height:60px;
	border:6px solid #ffffff;
	background:#111111;
	border-radius:100%;
	left: 0;
    right: 0;
    margin: 0px auto;
	margin-top: -26px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.team_slider_image i{
	position:absolute;
	left:0;
	right:0;
	margin:0px auto;
	z-index:100;
	color:#ffffff;
	font-size:25px;
	margin-top: -6px;
}
.team_slider_content{
	border: 1px solid #e8e8e8;
    padding-top: 119px;
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
    border-top: 0;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* Media Query For team_slider_content */

@media only screen and (max-width : 480px) {
	.team_slider_content {
		left: 82px;
		right: 82px;
	}
	
}

@media only screen and (max-width: 360px) {
	.team_slider_content {
		left: 43px;
		right: 43px;
	}
}

/* team_section end*/ 

/* iphone_wrapper css*/

.features_wrapper_image{
	text-align: center;
}
.features_wrapper_image img{
	display:inline-block;
}
.features_wrapper_image,.features_wrapper_content{
	float:left;
	width:100%;
}
.features_wrapper_content h3{
	font-size:12px;
	font-weight: 700;
	color: #999999;
	margin-bottom:18px;
	text-transform: uppercase;
	
}
.features_wrapper_content h2{
	font-size:28px;
	font-weight: 700;
	margin-bottom:30px;
	text-transform: uppercase;
}
.iphone_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background: #f7f7f7;
}

.iphone_text_wrapper_blue{
	border-left: 1px solid #34c176;
	padding-left:20px;
	margin-top:30px;
	margin-bottom:40px;
}
.iphone_text_wrapper_blue p{
	color: #34c176;
}
.btn_getapp{
	background: #34c176;
	border: 1px solid #34c176;
	border-radius:30px;
	color:#fff;
	padding:10px 35px;
	margin-top:20px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_getapp:hover{
	background: #259c5d;
	border: 1px solid #259c5d;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* iphone_wrapper css end*/


/* ipad_wrapper start */

.ipad_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.ipad_list_wrapper{
	margin:0;
	padding:0;
	list-style:none;
}
.ipad_list_wrapper li a{
	color: #999999;
	padding-left:10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.ipad_list_wrapper a:hover{
	color: #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.ipad_list_wrapper li{
	padding-top:10px;
}
.ipad_list_wrapper li i{
	color: #34c176;
}
.ipad_icon_wrapper{
	margin:0;
	padding:0;
	list-style:none;
	padding-top:40px;
}
.ipad_icon_wrapper li:first-child a{
	margin-left:0px;
}
.ipad_icon_wrapper li a{
	float:left;
	margin-left:20px;
	color: #999999;
	font-size:25px;
	border: 1px solid #cfcfcf;
	border-radius:50%;
	height:63px;
	width:63px;
	text-align:center;
	line-height:63px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.ipad_icon_wrapper li a:hover{
	color: #34c176;
	border: 1px solid #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_discover{
	background: #34c176;
	border-radius: 5px;
	color:#fff;
	border: 1px solid  #34c176;
	padding:10px 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin-right:10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_discover:hover{
    background: #34c176;
    border: 1px solid  #34c176;
    color: #fff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_read_more{
	background: #fff;
	border-radius: 3px;
	color:#111111;
	border: 2px solid  #e1e1e1;
	padding:10px 30px;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_read_more:hover{
	background: #34c176;
	color:#fff;
	border:2px solid  #34c176;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* ipad_wrapper end*/ 

/*pricing_section start*/

.pricing_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background: #f7f7f7;
}
.pricing_section .pricing-table-default {
	border: 1px solid #f1f1f1;
	background: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
@media (max-width : 766px) {
	.pricing_section .pricing-table-default {
		margin-bottom: 30px;
		text-align: center;
	}
}
.pricing_section .pricing-head h3 {
	font-size: 24px;
	color: #111111;
	padding: 30px 40px;
	margin: 0px;
}
.pricing_section .pricing-head .price {
    width: 120px;
    height: 120px;
    background: #34c176;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 27px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-head .price .ruppe{
    font-size: 30px;
    line-height: 50px;
    display: block;
}
.pricing_section .pricing-head .price .month{
    font-size: 14px;
    line-height: 0;
    display: block;
}
.pricing_section .pricing-head .price .ruppe sup {
	font-size: 20px;
	font-weight: 300;
	top: -9px;
}
.pricing_section .pricing-detail {
	margin: 52px;
	text-align: center;
}

/*pricing list*/

.pricing_section .pricing-list {
	margin:0;
	padding:0;
	list-style:none;
}
.pricing_section .pricing-list li {
	display: block;
	padding: 7px 0;
	color:#999999;
}
.pricing_section .pricing-list li:first-child {
	padding-top: 16px;
}
.pricing_section .pricing-list li:last-child {
	padding: 12px 0 0;
}
.pricing_section .pricing-table-default .btn {
	border: 0;
    padding: 15px 40px;
    text-transform: uppercase;
    background: #f1f1f1;
	color: #999;
    margin-top: 30px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover {
	background:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover .price  {
	background:#fff;
	color:#34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover .btn  {
	background:#fff;
	color: #34c176;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover h3{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing_section .pricing-table-default:hover li{
	color:#fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*pricing_section end*/ 
 
/* --------------------------------------
blog_section start
----------------------------------------- */

.blog_section {
	float:left;
	width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
	
}
@media (max-width : 991px) {
	.blog_section .blog-post-wrapper {
		margin-bottom: 30px;
	}
}
.blog_section .blog-post-wrapper .post-thumbnail{
	position: relative;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date{
	position: absolute;
	left: 17px;
	top: 17px;
	width: 60px;
    height: 60px;
	background: #34c176;
	color: #FFFFFF;
	text-align: center;
	border-radius:50%;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date .day {
	font-size: 20px;
	line-height: 44px;
	font-weight: 600;
	display: block;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date .month {
	font-size: 11px;
	font-weight: 600;
	line-height: 0;
	display: block;
	text-transform: uppercase;
}
.blog_section .blog-post-wrapper .post-thumbnail img{
	width: 100%;
}
.blog_section .blog-post-wrapper .blog-content{
	border: 1px solid #ededed;
	padding: 20px;
}

/*entry-header*/

.blog_section .blog-post-wrapper .entry-header {
  margin-bottom: 20px;
  background:transparent;
}
.blog_section .blog-post-wrapper .entry-title{
	line-height: 22px;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.blog_section .blog-post-wrapper .entry-title a{
	color: #313131;
}
.blog_section .blog-post-wrapper .entry-title a:hover{
	color: #34c176;
}

/*entry-meta*/

.blog_section .blog-post-wrapper .entry-header .entry-meta {
	font-size: 11px;
	text-transform: uppercase;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta ul{
	margin:0;
	padding:0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li {
	display: inline-block;
	border-right: 1px solid #E7E7E7;
	line-height: 10px;
	padding-right: 15px;
	margin-right: 15px;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a{
	color: #969595;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a:hover{
	color: #34c176;
}
/*entry-content*/

.blog_section .blog-post-wrapper .entry-content {}
.blog_section .blog-post-wrapper .entry-content p{
	margin: 0;
}

/*entry-footer*/

.blog_section .blog-post-wrapper .entry-footer {
  background-color: #f5f5f5;
  padding: 13px;
}
.blog_section .blog-post-wrapper .entry-footer ul{
    margin:0;
	padding:0;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li {
	display: inline-block;
	margin-right: 7px;
}
.blog_section .blog-post-wrapper .entry-footer a{
display: inline-block;
    padding: 8px 14px;
    font-size: 13px;
	line-height: 0px;
	color: #dadada;
	background: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.blog_section .blog-post-wrapper .entry-footer a:hover{
  color: #fff;
  background: #34c176;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li:last-child {
	margin-right: 0;
}

/*blog gallery post*/

#blog_sectionSlider .carousel-control {
  top: auto;
  bottom: 20px;
  width: 30px;
  height: 23px;
  font-size: 11px;
  color: #dadada;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}
#blog_sectionSlider .carousel-control.left,
#blog_sectionSlider .carousel-control.right {
  background-image: none;
  background-color: #fff;
  line-height: 24px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 32px;
  
}
#blog_sectionSlider .carousel-control:focus, 
#blog_sectionSlider .carousel-control:hover {
  background-color: #34c176;
  color: #fff !important;
  filter: alpha(opacity=100);
  opacity: 1;
}

#blog_sectionSlider .carousel-control.left {
  right: 60px;
  left: auto;
}
#blog_sectionSlider .carousel-control.right {
  right: 20px;
}


/*blog video post*/

.blog_section .blog-post-wrapper .play-trigger {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: -30px;
	margin-top: -30px;
	border: 0;
	color: #34c176;
	background: #fff;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	-webkit-transition      : all 0.3s ease 0s;
	-moz-transition      : all 0.3s ease 0s;
	-o-transition      : all 0.3s ease 0s;
	transition      : all 0.3s ease 0s;
}
.blog_section .blog-post-wrapper .play-trigger:hover {
  color: #fff;
  background: #34c176;
}
.blog_section .blog-post-wrapper .play-trigger i {
	margin-left: 5px;
}

/* --------------------------------------
blog_section end
----------------------------------------- */
 
/***********************
contact_section section start
**************************/

.contact_section .btn{
	border-radius: 0 !important; 
}
.contact_section .form-group {
  margin-bottom: 20px;
}
.contact_section .form-control:focus {
  box-shadow: none;
}
.form-control {
	height: 53px;
}
.contact_section {
	float:left;
	width:100%;
	padding-top: 100px;
    padding-bottom: 100px;
	background: #f7f7f7;
}
.contact_section .form-control {
	background-color: #fff;
	border: 1px solid transparent;
	color:#999999;
	padding: 15px 20px;
	font-size: 13px;
	line-height: 24px;
	border-radius: 0;
	box-shadow: none;
	font-family: 'Roboto';
}
.contact_section button.btn{
	font-weight: 700;
	padding: 11px 32px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	background: #34c176;
	border: 1px solid #34c176;
    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}
.contact_section button.btn:focus,
.contact_section button.btn:hover {
	border-color: #34c176;
	background-color: transparent;
	color: #34c176;
}
#map{
	float: left;
	width: 100%; 
	height: 500px;
}
/** contact_section section end **/

/* footer start*/

.footer{
	float:left;
	width:100%;
	background:#222325;
}
.footer_img_overlay{
	position:absolute;
	top:0%;
	left:0%;
	right:0%;
	bottom:0%;
	background: #000000;
    opacity: 0.9;
}
.footer h4{
	color:#fff;
	text-align:center;
}
.footer p{
	font-size:13px;
	color:#a5a5a5;
}
.footer_wrapper{
	float:left;
	width:100%;
}
.footer_bottom_wrapper{
	float:left;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	border-top: 1px solid #393737;
    opacity: 0.9;
}
.footer_copyright p{
	font-family: 'Lato';
	text-transform:capitalize;
    color: #656565;
	margin:0;
}
.footer_copyright a{
    color: #34c176;
}
.footer_menu ul{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.footer_menu ul li{
	float:left;
	margin-left:25px;
}
.footer_menu ul li:first-child{
	margin-left:0px;
}
.footer_menu ul li a{
	float:left;
	font-size:14px;
	font-family: 'Lato';
    color: #656565;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer_menu ul li a:hover{
    color: #34c176;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.wrapper_social, .wrapper_quote, .wrapper_email{
	float:left;
	width:100%;
	padding:100px 52px;
}
.wrapper_social, .wrapper_quote{
	border-right:1px solid #393737;
}
.wrapper_social{
	text-align:center;
}
.wrapper_social_image, .wrapper_social_text, .wrapper_social_media{

	display:inline-block;
}
.wrapper_social_icons{
	margin:0;
	padding:0;
	list-style:none;
}
.wrapper_social_icons li{
	float:left;
	margin-left:10px;
}
.wrapper_social_icons li:first-child{
	margin-left:0px;
}
.wrapper_social_icons li a{
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#8b8b8b;
	background: #353535;
	border-radius:50%;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.wrapper_social_icons li a:hover{
	background:#34c176;
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.wrapper_social_image{
	padding-bottom:40px;
}
.wrapper_social_text{
	padding-bottom:45px;
	text-align:center;
}
.wrapper_quote{
	text-align:center;
}
.wrapper_quote h4{
	padding-bottom:52px;
}
.wrapper_quote_text{
	padding-bottom:40px;
}
.wrapper_quote_button a{
	float:left;
	color:#a5a5a5;
	border:1px solid #383838;
	border-radius:35px;
	width: 180px;
    height: 45px;
    line-height: 43px;
}
.wrapper_quote_button a:hover{
	background:#34c176;
	color:#fff;
	border:1px solid #34c176;
}
.wrapper_email h4{
	padding-bottom:52px;
}
.wrapper_email_text{
	padding-bottom:40px;
}
.wrapper_email_button input {
	height: 46px;
    background: #353535;
    border: 1px solid #353535;
	border-radius:35px;
    padding: 17px 45px 17px 17px;
    color: #656565;
    font-size: 13px;
}
.wrapper_email_button i {
    margin-left: -45px;
    background: #34c176;
	border-radius:50%;
	color:#fff;
	width:35px;
	height:35px;
	line-height:35px;
}
.wrapper_quote_text{
	float:left;
	width:100%;
	display:inline-block;
}
 .wrapper_quote_button{
	display:inline-block;
}
.wrapper_email{
	text-align:center;
}
.wrapper_email_text{
	float:left;
	width:100%;
	display:inline-block;
}
.wrapper_email_button{
	display:inline-block;
}
.wrapper_email_text a{
	color:#34c176;
}

/* footer end*/

/* media  query css for ipad */

@media(max-width: 1200px) {
	#menu_wrapper_navbar ul li a{
		padding: 10px 6px;
	}
	.pricing_section .pricing-detail {
		margin: 52px 0px;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	
	#menu_wrapper_navbar ul li a {
		font-size: 13px;
	}
	#menu_wrapper_navbar ul li a{
		padding: 10px 5px;
	}
	.menu_wrapper_social li {
		float: left;
		margin-left: 16px;
	}
	.pricing_section .pricing-detail {
		margin: 0px;
	}
	.pricing_section .pricing-table-default .btn{
		padding: 15px 34px;	
	}
	.pricing_section .pricing-head h3 {
		padding: 30px 0px;
	}
	.iphone_image_wrapper{
		margin-top:50px;
	}
	.ipad_image_wrapper{
		margin-bottom:30px;
	}
	.our-progress{
		margin-bottom:60px;
	}
	.iphone_wrapper .features_wrapper_image {
	   padding-top:50px;
	}
	.ipad_wrapper .features_wrapper_image {
	   padding-bottom:50px;
	}
	
}
/* media query css for ipad end */

/* media query css for mobile */
@media(max-width: 767px){	
	.menu_fixed .menu_toggle, .menu_fixed .menu_social_icons {
		padding-top: 0px; 
	}
	.dropdown {
		margin-top: 10px;
	}
	.section4_slider_wrapper .owl-theme .owl-nav .owl-next{
		right:0;
	}
	.section4_slider_wrapper .owl-theme .owl-nav .owl-prev{
		left:0;
	}
	.wrapper_social, .wrapper_quote {
		border-right:0;
	}
	.features_section {
		padding-bottom: 80px;
	}
	.image_wrapper{
		margin-bottom:50px;
	}
	.iphone_image_wrapper{
		margin-top:50px;
	}
	.ipad_image_wrapper{
		margin-bottom:30px;
	}
	.footer_menu ul li {
       margin-left: 4px;
		margin-bottom: 10px;
	}
	.footter_menu ul li:first-child{
		margin-left:4px;
	}
	.footer_menu ul {
		float: none;
	}
	.footer_menu{
		padding-top: 20px;
	}
	.our-progress{
		margin-bottom:60px;
	}
	.iphone_wrapper .features_wrapper_image {
	   padding-top:50px;
	}
	.ipad_wrapper .features_wrapper_image {
	   padding-bottom:50px;
	}
	
}
@media only screen and (max-width : 480px) {
	.section_heading h2 {
		font-size: 24px;
	}
	.features_with_images .section_heading h2 {
		font-size: 16px;
	}
	.about_section .section_heading h2 {
		font-size: 16px;
	}
	
}
@media only screen and (max-width: 390px) {
	.signin_wrapper, .dropdown{
		display:none;
	}
	.menu_wrapper_social li {
		margin-left: 12px;
	}
	.ipad_icon_wrapper li a {
		margin-left: 14px;
		height: 50px;
		width: 50px;
		line-height:50px;
	}
	.wrapper_social_icons li {
		float: left;
		margin-left: 9px;
	}
}
