/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. body
2. header start 
3. footer start


*/


/* custom css */

html, body{
	font-family: 'Roboto';
}
h1, h2, h3, h4, h5, h6{
    font-size: 20px;
    color: #111111;
	margin:0;
	padding:0;
	font-family: 'Roboto';
	font-weight: 400;
}
p{
    color: #999999;
    font-size: 14px;
	line-height: 24px;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: unset;
}
a:hover{
	color:#4285f4;
	text-decoration:none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a{
	color: #111111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
button {
    outline: none!important;
    text-decoration: none!important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4385f5;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/* custom css end */


/* --------------------------------------
LIST STYLE
------------------------------------------*/

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider_main_wrapper,
.sleek_slider_wrapper{
	float: left;
    width: 100%;
}

/* text_wrapper start*/

.text_wrapper{
	width:100%;
	float:left;
	padding-bottom:100px;
	padding-top:100px;
}
.text_wrapper_content{
	width:100%;
	float:left;
}
.text_wrapper_content h3{
	font-size:40px;
	padding-bottom:30px;
}

/* text_wrapper end*/


/*   header start */

.top-bar {
    background-color: #4285f4;
	color:#fff;
}
.top-bar a{
	color:#fff;
	line-height: 0;
}
.contact_info_wrapper{
	float:left;
	position:relative;
}
.contact_info_wrapper:before{
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.18);
    height:50px;
    position: absolute;
    top: 0;
    left:0;
}
.contact_number_wrapper{
	position:relative;
}
.contact_number_wrapper:before{
	 content: '';
    border: 1px solid  rgba(255, 255, 255, 0.18);
    height:50px;
    position: absolute;
    top: 0;
    left:-10px;
}
.signin_wrapper{
	position:relative;
	background:#5c98fb;
}
.contact_info_wrapper ul li{
	float:left;
	margin-right:20px;
}
.contact_info_wrapper ul li:last-child{
	margin-right:0px;
}
.contact_info_wrapper ul li,.signin_and_social_icon_wrapper ul li{
	padding:15px 20px;
}
.contact_info_wrapper ul li a i{
	margin-right:10px;
}
.signin_and_social_icon_wrapper{
	float:right;
	position:relative;
}
.signin_and_social_icon_wrapper ul li{
	float:left;
}
.social_icon_wrapper ul li{
	float:left;
	margin-right:15px;
	padding:0;
}
.social_icon_wrapper ul li a{
    font-size: 16px;
	color:#add4f8;
}
.social_icon_wrapper ul li a:hover{
	color:#fff;
}
.signin_wrapper{
	float:left;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper a i{
	margin-right:10px;
}
.signin_wrapper:hover{
	background:#2c6ad4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper .dropdown-menu .signin_dropdown{
	float:left;
    width: 350px;
	padding:30px 50px;
}
.signin_wrapper .signin_dropdown a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
	padding: 6px 25px;
    line-height: 36px;
	margin-bottom:20px;
	text-align:left;
	border-radius:5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
}
.signin_wrapper .signin_dropdown a.btn:hover {
   background-color: #2c6ad4;
   border-color: #2c6ad4;
}
.signin_wrapper .signin_dropdown a.span{
	float:left;
}
.signin_wrapper .dropdown-menu .signin_dropdown a i{
	float:right;
	margin:0;
	line-height: 35px;
}
.signin_wrapper .signin_dropdown a.google-plus{
    background: #db4c3e;
    border: 1px solid #db4c3e;
}
.signin_wrapper .signin_dropdown a.google-plus:hover{
    background: #bd4033;
    border-color:#bd4033;
}
.signin_wrapper .signin_dropdown h2 {
    font-size: 18px;
	font-weight:500;
	margin-bottom:20px;
	color:#111;
    line-height: 20px;
    text-transform: uppercase;
	text-align:center;
    position: relative;
}
.signin_wrapper .signin_dropdown h2::before, .signin_dropdown h2::after {
    content: "";
    background: #e4e4e4;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
}
.signin_wrapper .signin_dropdown h2::before {
    right: 60%;
}
.signin_wrapper .signin_dropdown h2::after {
    left: 60%;
}
.signin_wrapper .signin_dropdown .form-control {
	height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
	-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   background-color: #fafafa;
}
.signin_wrapper .signin_dropdown textarea.form-control{
	height:auto;
	resize:none;
}
.signin_wrapper .signin_dropdown input::placeholder, .signin_dropdown textarea::placeholder {
  color: #999;
}
.signin_wrapper .signin_dropdown .form-control:focus {
	color: #999;
	background-color: fafafa;
	border: 1px solid #4285f4 !important;	
}
.formsix-pos,.formsix-e{
	position: relative;
}
.form-group.i-password:after, .form-group.i-email:after{
    position: absolute;
     top: 13px;
    font-size: 18px;
    font-family: "FontAwesome";
    color: #c0c0c0;
}
.signin_dropdown .form-group.i-email:after{
	content: "\f0e0";
	right: 25px;
}
.signin_dropdown .form-group.i-password:after{
	content: "\f09c";
	right: 25px;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .control {
    position: relative;
	padding-left:20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
	margin:0;
}
.remember_box .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.remember_box .control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
}
.remember_box .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.remember_box .control input:checked ~ .control__indicator:after {
  display: block;
}
.remember_box .control--checkbox .control__indicator:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}
.signin_btn_wrapper{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.signin_wrapper .signin_btn_wrapper a.login_btn {
   text-align:center;
   text-transform:uppercase;
   margin-bottom:15px;
}
.signin_btn_wrapper a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
}
.sign_up_message p{
	font-size:16px;
}
.sign_up_message a{
	color:#4385f5;
}
.signin_wrapper .dropdown-menu li .sign_up_message a{
	display: inline-block;
    padding: 0;
    color: #4385f5;
	font-size:16px;
}
.signin_wrapper .dropdown-menu li .sign_up_message a:hover{
	background:#fff;
}

.main_menu_wrapper{
	float:left;
	width:100%;
}


/*Navigation*/

@media (min-width: 768px) {

  .navbar-default {
    border: 0;
    border-radius: 0;
  }
  .navbar-right .dropdown-menu {
    right: auto;
  }  
  .mega-menu .nav .cart_dropdown_wrapper, 
  .mega-menu .nav .shop_dropdown_wrapper,
  .mega-menu .nav .blog_dropdown_wrapper
  {
	  position: relative;
  }
  .navbar-right .cart_dropdown_wrapper .dropdown-menu{
    right: 0;
  } 
  .navbar-right .shop_dropdown_wrapper .dropdown-menu {
	right: 0;
  }
  .navbar-right .blog_dropdown_wrapper .dropdown-menu {
	    right: 0;
		left: auto;
  }
  .signin_wrapper .dropdown-menu {
	right: 0;
	left:auto;
	border:0;
	box-shadow: 0 6px 12px rgba(0,0,0,.100);
  }
  .navbar-brand {
    padding: 25px 15px;
  }
  
}

.navbar-default {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-nav>li>a {
  padding: 40px 16px;
  color: #444;
  font-size:14px;
  font-weight:600;
  line-height: 20px;
  text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #4385f5;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #4385f5;
  background-color: transparent;
}



/*Dropdown Menu*/

.dropdown-menu {
  display: inherit;
  min-width: 220px;
  padding: 3px 0;
  border:0;
  background-color: #fff;
  border-top:4px solid #4385f5;
  border-radius:0;
  -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
   box-shadow: 0 6px 12px rgba(0,0,0,.100);
}
.dropdown-header {
  font-size: 11px;
  line-height: 30px;
  font-weight: 600;
  color: #313131;
  text-transform: uppercase;
}
.dropdown-menu li a {
  display: block;
  padding:5px 20px;
  font-size:14px;
  font-weight:400;
  line-height: 30px;
  color: #999999;
}
.dropdown-menu li a:hover, 
.dropdown-menu>li>a:focus {
  color: #4385f5;
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition      : all 0.3s ease 0s;
  -moz-transition      : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition      : all 0.3s ease 0s;
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #4385f5;
  background-color: transparent;
}
.dropdown .dropdown-menu li .dropdown-menu-right{
	display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top:3px solid #4385f5;
	border-radius:0;
	-o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
	box-shadow: 0 6px 12px rgba(0,0,0,.100);
	top:0;
	left:100%;
	right:auto;
	min-width:210px;
}
.dropdown .dropdown-menu li .dropdown-menu-left{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top: 3px solid #4385f5;
    border-radius: 0;
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    box-shadow: 0 6px 12px rgba(0,0,0,.100);
    top: 0;
    left: auto;
    right: 100%;
    min-width: 250px;
}
.dropdown .dropdown-menu li .dropdown-menu-right li a,
.dropdown .dropdown-menu li .dropdown-menu-left li a{
	padding:5px 20px;
	font-size:14px;
	font-weight:400;
}
.dropdown .dropdown-menu li:hover > .dropdown-menu-right,
.dropdown .dropdown-menu li:hover > .dropdown-menu-left
{
	display:block;
}
.dropdown .dropdown-menu li {
    position: relative;
}
.dropdown .dropdown-menu li a i {
    margin-right:20px;
}
.dropdown .dropdown-menu li a span i {
    position: absolute;
    right: 10px;
	top:14px;
}
.dropdown-menu li a .new{
	padding:3px;
    text-align: center;
    background: rgba(227, 69, 69, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
	margin-left:10px;
}

/*mega-menu*/

.mega-menu .nav,
.mega-menu .collapse,
.mega-menu .dropup,
.mega-menu .dropdown {
  position: static;
}
.mega-menu .container {
  position: relative;
}
.mega-menu .dropdown-menu {
  left: auto;
}
.mega-menu .m-menu-content {}
.mega-menu .dropdown.m-menu-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}
.m-menu-content ul {
  border-right: 1px solid #f5f5f5;
  padding: 20px;
}
.m-menu-content ul:last-of-type {
  border-right: 0;
}


/*navbar-toggle*/

.navbar-toggle {
  margin-top:28px;
  border-radius: 5px;
  position:absolute;
  right:0;
  border-color:#ddd;
}
.navbar-toggle .icon-bar{
	background-color: #888;
}
.navbar-toggle:focus, 
.navbar-toggle:hover {
    background-color: #4385f5;
    border-color: transparent;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:active .icon-bar,
.navbar-toggle:focus .icon-bar  {
  background-color: #fff;
}
.lv_search_bar{
    float: right;
    width: auto;
    text-align: center;
    padding: 38px 15px;
    color: #444;
    font-size: 16px;
    cursor: pointer;
}
.lv_search_box{
    position: absolute;
	width: 270px;
    top: 100%;
    padding: 20px;
	font-size: 16px;
    display: inline-block;
	border-top: 4px solid #4385f5;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: none;
    z-index: 1000;
	right:0;
}
.lv_search_box input{
    float: left;
	color:#111111;
    width: calc(100% - 45px);
    padding: 0px 10px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-right: 0px;
}
.lv_search_box button{
    width: 45px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-left: none;
    background-color: #fff;
	color: #4385f5;
    text-align: center;
    padding: 0px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.lv_search_box button:hover{
	color:#ffffff;
	background:#4285f4;
	border-color:#4285f4;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.sidebar_search {
    border: 1px solid #f2f2f2;
}
.sidebar_search input{
	float: left;
    width: calc(100% - 45px);
    height: 50px;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 0;
	outline: none;
}
.sidebar_search button {
    width: 45px;
    height: 50px;
    border: 1px solid transparent;
    background-color: transparent;
	color: #888;
	font-size: 15px;
    position: relative;
    right: 3px;
    text-align: center;
    padding: 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*cart-dropdown*/

.cart-dropdown{
  width: 350px;
}
.cart-dropdown .media {
  margin-top: 0;
  position: relative;
}
.cart-dropdown .media-list li {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 40px;
}
.cart-dropdown .media>.media-left{
    padding-right: 30px;
}
.cart-dropdown .media-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #212121;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.cart-dropdown .quantity, 
.cart-dropdown .price  {
  font-size: 16px;
}
.cart-dropdown .quantity{
	float: left;
    width: 20px;
    height: 20px;
    background: #f7f7f7;
    color: #999;
    line-height: 20px;
    text-align: center;
}
.cart-dropdown .price {
  color: #4385f5;
  margin-left:20px;
  font-weight:600;
}
.cart-dropdown .close i {
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 14px;
  border: 1px solid #A59F9F;
  border-radius: 50%;
  color: #B5B0B0;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 30px;
}
.cart-dropdown .total {
  padding: 20px 40px;
  text-transform: capitalize;
}
.cart-dropdown .total a.btn{
  position: relative;
  top: -25px;
  color: #fff;
  width:160px;
  height:50px;
  line-height:38px;
  text-align:center;
  background: #4385f5;
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
  border:1px solid #4385f5;
}
.cart-dropdown .total a.btn:hover{
  background-color: #2c6ad4;
  border-color: #2c6ad4;
}
.cart-dropdown .total .total_price{
  margin-top:0;
  color: #4385f5;
  font-weight: 600;
}
.cart-dropdown .total .total_item{
	font-size:12px;
	color: #999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-badge {
    font-size: 10px;
    background: #eb6d6d;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    position: absolute;
	right: 5px;
    top: 34px;
}

/*cart Dropdown Menu end */

.menu_fixed{
	position:fixed;
	background: #fff;
	-webkit-box-shadow: 0px 0px 25px -10px;
    box-shadow: 0px 0px 25px -10px;
	top:0;
	left: 0;
    right: 0;
    z-index: 100;
}

/* mobail_menu_main */

.mobail_menu_main{
	float:left;
	width:100%;
}
#sidebar {
  position: fixed;
  display: block;
  height: 100vh;
  top: 0px;
  left: -500px;
  background-color: #ffffff;
  overflow: scroll;
  z-index:1000;
}
#links {
  position: relative;
  float: left;
}
#link_list {
  list-style-type: none;
  width: 100%;
  padding: 0px 50px 0px 0px;
}
#link_list li {
  display: block;
  width: 100%;
}
#link_list li:hover {
  background-color: #4285f4;
}
#toggle_close{
	position: absolute;
    z-index: 100;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  font-weight:500;
  border:1px solid #f2f2f2;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#cssmenu > ul > li:first-child > a{
	border-top:1px solid #f2f2f2;
}
#cssmenu > ul > li > a:hover{
	background:#4285f4;
	border-bottom:1px solid #f2f2f2;
	color:#ffffff;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:hover:after, #cssmenu ul > li.has-sub > a:hover:before{
	background:#000;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
	background:#000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 32px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  background: #f9f9f9;
  color: #000;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background:#888;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background:#888;
}
#sidebar .sidebar_logo{
	padding: 15px 0px;
	padding-left: 20px;
	display: inline-block;
}
#cssmenu ul .sidebar_login .btn {
	color: #fff;
	width: 235px;
	height: 50px;
	position: relative;
	top: 15px;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 25px;
	margin: 0 0 0 10px;
	line-height: 20px;
	border-radius: 5px;
	background: #4385f5;
	border: 1px solid #4385f5;
	font-size: 14px;
}
#cssmenu ul .sidebar_login .btn:hover {
	background-color: #2c6ad4;
	border-color: #2c6ad4;
}

/*   header end */


/*   footer start */

.footer{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#212121;
}
.footer h4{
	color:#fff;
	font-size:16px;
	font-weight: bold;
	text-transform:uppercase;
	padding-bottom:45px;
}
.footer h4:after{
	content:'';
	border:2px solid #383838;
	display:block;
	width:50px;
	position:absolute;
	margin-top:20px;
}

.widget1_image_wrapper, .widget1_text_wrapper{
	float:left;
	width:100%;
}
.widget_1, .widget_2, .widget_3, .widget_4{
	float:left;
	width:100%;
}
.widget1_text_wrapper{
	padding-top:50px;
	border-bottom:1px solid #424242;
	padding-bottom: 25px;
	color:#656565;
	margin-bottom: 25px;
}
.text_wrapper_first,.text_wrapper_second{
	float:left;
	width:100%;
}
.text_wrapper_first{
	float:left;
	width:100%;
	padding-bottom: 20px;
}
.widget1_link a{
	padding-top: 20px;
	color:#4285f4;
}
.widget1_link a:hover{
	padding-top: 20px;
	color:#fff;
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.widget1_social_icons{
	margin:0;
	padding:0;
	list-style:none;
}
.widget1_social_icons li{ 
	float:left;
	margin-left:8px;
}
.widget1_social_icons li:first-child{ 
	margin-left:0px;
}
.widget1_social_icons li a{ 
	float:left;
	color: #656565;
	font-size:20px;
	line-height:0;
	text-align:center;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.widget1_social_icons li a:hover{ 
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.widget2_list{
	margin:0;
	padding:0;
	list-style:none;
	padding-top: 25px;
}
.widget2_list li { 
	margin-bottom:23px;
}
.widget2_list li:last-child{ 
	margin-bottom:0px;
}
.widget2_list li a i{ 
	color: #4285f4;
	margin-right:18px;
}
.widget2_list li a{ 
	color: #999999;
	font-size:16px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.widget2_list li a:hover{ 
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.widget3_wrapper{
	float:left;
	width:100%;
}
.widget3_images{
	margin:0;
	padding:0;
	list-style:none;
	padding-top: 25px;
}
.widget3_images li{ 
	float:left;
	margin-left:5px;
}
.widget3_img_wrapper {
  position: relative;
  width:auto;
  display:inline-block;
}
.widget3_icon{
 position: absolute;
  top: 50%;
  left: 50%;
  color:#fff;
  background:#2f4f7f;
  border-radius:50%;
 width:30px;
 height:30px;
 line-height:30px;
 text-align:center;
 font-size:14px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.widget3_img_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  opacity:0;
  transition: .2s ease;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.widget3_wrapper:hover .widget3_img_overlay {
  background-color:#4285f4;
  opacity:0.7;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  overflow:hidden;
}
.widget_3{
	padding-bottom:30px;
}
.widget3_link{
	float:left;
	width:100%;
}
.widget3_link a{
	color:#4285f4;
	font-style:italic;
}
.widget3_link a:hover{
	color:#fff;
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.widget4_text_wrapper{
	float:left;
	width:100%;
	padding-top:20px;
}
.widget4_content_first, .widget4_content_second{
	float:left;
	width:100%;
}
.widget4_content_first{
	padding-bottom:30px;
}
.widget4_content_second p{ 
	color:#4285f4;
	font-style:italic;
	padding-bottom:20px;
}
.widget4_text_wrapper input{
	width:100%;
	height:46px;
	background:transparent;
	border:1px solid #424242;
	padding: 17px 30px 17px 14px;
	color: #999999;
	font-style:italic;
	font-size:14px;
}
.widget4_text_wrapper a i{
	margin-left: -25px;
	color:#4285f4;
}

/* footer end */

/* copyright_wrapper start */

.copyright_wrapper{
	background:#1a1a1a;
	float:left;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
}
.copyright_content, .copyright_icon_wrapper{
	float:left;
	width:100%;
}
.copyright_content p{
	font-family: 'Lato';
	color:#656565;
	text-transform:capitalize;
	margin:0;
}
.copyright_content a{
	color:#4285f4;
}
.copyright_icons{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.copyright_icons li { 
	float:left;
	margin-left:10px;
}
.copyright_icons li:first-child{ 
	margin-left:0px;
}
.copyright_icons li a i{ 
	color: #7c7c7c;
	font-size:30px;
}
.copyright_icons li a{ 
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.copyright_icons li a:hover i{ 
	color: #4285f4;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* copyright_wrapper end */


@media (min-width: 992px) and (max-width: 1199px){
	
	.navbar-default .navbar-nav>li>a {
		padding: 24px 7px;
	}
	.navbar-brand {
		padding: 15px 15px;
	}
	.lv_search_bar {
		padding: 23px 15px;
	}
	#cart-badge {
		right: -5px;
		top: 18px;
	}
	.copyright_icons li a i {
		font-size: 26px;
	}
	.widget2_list li a {
		font-size: 14px;
	}
	
}

@media (min-width: 768px) and (max-width: 991px){
	
	.navbar-toggle {
		display: block;
		margin-top: 30px;
	}	
	.navbar-brand {
		height:auto;
		padding: 30px 0px;
	}
	.contact_info_wrapper ul li{
		padding: 15px 12px;
	}
	.navbar-header {
		float: left;
		width: 100%;
	}
	.widget_1, .widget_2, .widget_3, .widget_4{
		padding-bottom:30px;
	}
	.widget2_list li:last-child {
		margin-bottom: 30px;
	}

	
}


/* media query css for mobile */

@media(max-width: 767px){
	
	.navbar-toggle {
		margin-top: 30px;
	}	
	.navbar-brand {
		height:auto;
		padding: 30px 0px;
	}
	.signin_wrapper .dropdown-menu {
		right: 0;
		left:auto;
		border:0;
	}
	.contact_info_wrapper:before{
		display:none;
	}
	.contact_info_wrapper ul li {
		padding: 15px 0px;
	}
	.widget_1, .widget_2,.widget_4{
		padding-bottom:30px;
	}
	.widget3_link{
		padding-bottom:30px;
	}
	.copyright_icons {
		float: left;
	}
	.copyright_content{
		margin-bottom:30px;
	}
}

@media only screen and (max-width : 480px) {
	
	.top-bar{
		display:none;
	}
	.copyright_icons li a i {
		font-size: 18px;
	}

}

/* media query css for mobile end */