/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------ */


/* custom css */

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}
a:hover,a:active,a:visited,a:focus {
	text-decoration: none;
	outline: none;
	color: inherit;
}

/* custom css end*/

/*==================================== Theme Main Banner ====================================*/
.camera_wrap {float:none;}
#theme-main-banner .camera_overlayer {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.45);
}
#theme-main-banner .camera_prev, #theme-main-banner .camera_next {
	background: rgba(255,255,255,0.32);
	height: 58px;
	width: 58px;
	border-radius: 50%;
	margin-top: -30px;
	text-align: center;
}
#theme-main-banner .camera_prev {margin-left: 10px;}
#theme-main-banner .camera_next {margin-right: 10px;}
#theme-main-banner .camera_prev:hover, #theme-main-banner .camera_next:hover {background: #2f87fd;}
#theme-main-banner .camera_prev > span,#theme-main-banner .camera_next > span {
	background: none;
	display: block;
	width: 100%;
	height: 100%;
}
#theme-main-banner .camera_prev > span:before,#theme-main-banner .camera_next > span:before {
	font-family: 'FontAwesome';
	font-size: 32px;
	color:#fff;
	line-height: 58px;
}
#theme-main-banner .camera_prev > span:before {content: '';}
#theme-main-banner .camera_next > span:before {content: '';}
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 45%;

}
#theme-main-banner .camera_caption {height: 100%;}
#theme-main-banner .camera_caption>div {
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-shadow: none;
	left: 0;
	padding: 0;
}
#theme-main-banner .camera_caption .container h1 {
	color: #fff; 
	margin-bottom: 30px;
	font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
#theme-main-banner .camera_caption .container p {
	color: #fff; 
	font-size: 25px; 
	max-width: 830px;
	line-height: 32px;
	font-weight: 400;
}
#theme-main-banner .camera_caption .container a {
	width: 215px;
	font-weight: 600;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	background: #2f87fd;
	opacity: 1;
	margin-top: 30px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
#theme-main-banner .camera_caption .container a>i {margin-right: 8px;}
#theme-main-banner .camera_caption .container>a:before {background: rgba(0,0,0,0.6);}


/*==================================== Theme Main Banner 2 ====================================*/
.camera_wrap {float:none;}
#theme-main-banner2 .camera_overlayer {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.45);
}
#theme-main-banner2 .camera_prev, #theme-main-banner2 .camera_next {
	background: rgba(255,255,255,0.32);
	height: 58px;
	width: 58px;
	border-radius: 50%;
	margin-top: -30px;
	text-align: center;
}
#theme-main-banner2 .camera_prev {margin-left: 10px;}
#theme-main-banner2 .camera_next {margin-right: 10px;}
#theme-main-banner2 .camera_prev:hover, #theme-main-banner2 .camera_next:hover {background: #2f87fd;}
#theme-main-banner2 .camera_prev > span,#theme-main-banner2 .camera_next > span {
	background: none;
	display: block;
	width: 100%;
	height: 100%;
}
#theme-main-banner2 .camera_prev > span:before,#theme-main-banner2 .camera_next > span:before {
	font-family: 'FontAwesome';
	font-size: 32px;
	color:#fff;
	line-height: 58px;
}
#theme-main-banner2 .camera_prev > span:before {content: '';}
#theme-main-banner2 .camera_next > span:before {content: '';}
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 45%;

}
#theme-main-banner2 .camera_caption {height: 100%;}
#theme-main-banner2 .camera_caption>div {
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-shadow: none;
	left: 0;
	padding: 0;
}
#theme-main-banner2 .camera_caption .container h1 {
	color: #fff; 
	margin-bottom: 30px;
	font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}
#theme-main-banner2 .camera_caption .container p {
	color: #fff; 
	font-size: 18px; 
	max-width: 830px;
	line-height: 32px;
	font-weight: 400;
}
#theme-main-banner2 .camera_caption .container a {
	width: 215px;
	font-weight: 600;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	background: #2f87fd;
	opacity: 1;
	margin-top: 30px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
#theme-main-banner2 .camera_caption .container a>i {margin-right: 8px;}
#theme-main-banner2 .camera_caption .container>a:before {background: rgba(0,0,0,0.6);}

/*==================================== Theme Main Banner V-2 ====================================*/
.camera_wrap {float:none;}
#theme-main-banner-two .camera_overlayer {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.42);
}
#theme-main-banner-two .camera_prev, #theme-main-banner-two .camera_next {
	background: rgba(255,255,255,0.32);
	height: 58px;
	width: 58px;
	border-radius: 50%;
	margin-top: -30px;
	text-align: center;
	top: 60%;
}
#theme-main-banner-two .camera_prev {margin-left: 10px;}
#theme-main-banner-two .camera_next {margin-right: 10px;}
#theme-main-banner-two .camera_prev:hover, #theme-main-banner-two .camera_next:hover {background: #2f87fd;}
#theme-main-banner-two .camera_prev > span, #theme-main-banner-two .camera_next > span {
	background: none;
	display: block;
	width: 100%;
	height: 100%;
}
#theme-main-banner-two .camera_prev > span:before,#theme-main-banner-two .camera_next > span:before {
	font-family: 'font-awesome';
	font-size: 32px;
	color:#fff;
	line-height: 58px;
}
#theme-main-banner-two .camera_prev > span:before {content: '';}
#theme-main-banner-two .camera_next > span:before {content: '';}
#theme-main-banner-two.camera_wrap .camera_pag .camera_pag_ul li {display: none !important;}
#theme-main-banner-two .camera_caption {height: 100%;}
#theme-main-banner-two .camera_caption>div {
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-shadow: none;
	left: 0;
	padding: 200px 0 0;
}
#theme-main-banner-two .camera_caption .container h1 {color: #fff; margin-bottom: 70px;}
#theme-main-banner-two .camera_caption .container p {color: #fff; font-size: 18px; max-width: 830px;}
#theme-main-banner-two .camera_caption .container a {
	width: 215px;
	font-weight: 600;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	background: #2f87fd;
	opacity: 1;
	margin-top: 90px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
#theme-main-banner-two .camera_caption .container a.banner-button-two {
	color: #2f87fd;
	background: #fff;
	width: 185px;
	margin-left: 12px;
}
#theme-main-banner-two .camera_caption .container a.banner-button-two:hover {color: #fff;}
#theme-main-banner-two .camera_caption .container a>i {margin-right: 8px;}
#theme-main-banner-two .camera_caption .container>a:before {background: rgba(0,0,0,0.6);}

.float_left{
	float:left;
	width:100%;
}
@media(max-width: 767px){
	h1{
		font-size:50px;
		line-height:50px;
	}
}